[2017-01-13 21:00] aharris88 opened #1 "CLI"
Is there a CLI for this? I tried can use prettier in vim because it is a cli tool, but I'm not sure how to use prettier-eslint in vim.

[2017-01-13 21:01] kentcdodds commented on #1
Not yet, but I really want one! Do you wanna build it?!

[2017-01-13 21:24] aharris88 commented on #1
I would like to, but I'm not sure how. Would it be a part of this repo or a separate repo?

[2017-01-13 21:26] kentcdodds commented on #1
I'd prefer to make it a separate repo. `prettier-eslint-cli` seems like a good module name :) Should be pretty small I think. I recommend looking into `yargs`...

... You know what, I can scaffold a project pretty quickly and easily. How would you like me to just get it scaffolded out and then give you write permissions?

[2017-01-13 21:27] aharris88 commented on #1
Sounds good.

[2017-01-13 22:16] kentcdodds commented on #1
Alrighty, you should have access to push to https://github.com/kentcdodds/prettier-eslint-cli

I've squatted on `prettier-eslint-cli` on npm. Once we've got something to release, I'll setup automatic releasing with semantic-release and travis. I'm looking forward to seeing what you've come up with!

[2017-01-13 22:16] #1 closed

[2017-01-14 02:43] kentcdodds commented on #1
@aharris88, I want to use the CLI on a project. Have you started already? If not, I'm going to go ahead and build it now.

[2017-01-14 03:42] aharris88 commented on #1
I haven't started. Go ahead. 👍

[2017-01-15 16:14] exdeniz opened #2 "Example not work"
I try run example
[code]
and output "undefined"

[2017-01-15 16:22] kentcdodds commented on #2
Hmmm... Weird. I can look into it another time. But you're welcome to dig a little too figure out why that's happening :-)

[2017-01-15 23:13] demoneaux commented on #2
Seems like you're running `format(options)` without passing in the code to format.

[2017-01-16 00:03] exdeniz commented on #2
@demoneaux I try now code
[code]
and return
[code]

[2017-01-16 00:05] exdeniz commented on #2
I found work example, but eslintConfig not working, use rules for eslintrc.
[code]

[2017-01-17 17:04] kentcdodds opened #3 "peerDependencies?"
Right now we ship `prettier` and `eslint` as dependencies to the project. But we should probably find the most relevant packages instead. Maybe use the first available version:

1. local `node_modules`
2. global `node_modules`
3. Our own `node_modules`

Any ideas/suggestions are welcome! (This should solve https://github.com/kentcdodds/prettier-eslint-atom/issues/5)

[2017-01-17 17:50] kentcdodds commented on #2
Could you take a look at this? https://github.com/kentcdodds/prettier-eslint/pull/4

[2017-01-17 18:03] kentcdodds opened #5 "Remove rules that aren't fixable"
Each rule you add to the ESLint config adds overhead. If it's not fixable then it's not useful overhead. We should improve perf by removing any rules from the config that aren't fixable. I'm not sure whether it's possible to know, but if it is, we should try. Could really speed things up I think.

[2017-01-17 18:05] kentcdodds commented on #5
ping @gyandeeps, I think you could shed some light here :)

[2017-01-17 18:10] gyandeeps commented on #5
Well this could get tricky because if the user sets the `useEslintrc` option then you have to do a lot of work (which i think is not worth it).
So I would say visit this when we actually see an issue.

[2017-01-17 18:16] kentcdodds commented on #3
ping @gyandeeps, any ideas here?

[2017-01-17 18:22] gyandeeps commented on #3
I think this issue will help us respect the version of `eslint` used by the user and not the one shipped with this package?
Then (assuming we are using npm >= 3), we can always use the local node_modules `eslint` period. That means user have to always have a dependency on eslint. If they dont then (npm > 3) will install `eslint` inside node_modules folder (based on this package dependency). Worst

[2017-01-17 18:27] kentcdodds commented on #3
👏  I'd rather not think about global.

The one case where things can get a little tricky is in the [`prettier-eslint-atom`](https://github.com/kentcdodds/prettier-eslint-atom) plugin as well as [`prettier-eslint-cli`](https://github.com/kentcdodds/prettier-eslint-cli). We need to figure out which `prettier` and `eslint` to use for those. I think that `prettier-eslint` needs to expose a mechanism f

[2017-01-17 23:43] #2 closed

[2017-01-18 05:28] #3 closed

[2017-01-18 19:33] kentcdodds opened #7 "Add sillyLogs"
So we can get everything we need for debugging. From https://github.com/kentcdodds/prettier-eslint-cli/pull/1

@edm00se's going to give this a try tonight (hopefully)

[2017-01-18 22:38] exdeniz commented on #5
What we do with new rules or rules that will fixable in the future?

[2017-01-18 22:40] kentcdodds commented on #5
Yeah, we'd probably want a way to dynamically identify rules that are fixable. If there's a way to do that. Somehow the eslint website knows, but I'm not sure whether that's manually maintained or not.

[2017-01-18 22:50] exdeniz commented on #5
In JS rules file:
[code]
but parse everytime repo.... and how deal with plugin?

[2017-01-19 02:48] edm00se commented on #7
I gave things a first pass in PR #8, but am having trouble getting the test to play nicely 😕.

[2017-01-19 05:00] #7 closed

[2017-01-20 20:05] kentcdodds commented on #5
Now that the atom plugin and the CLI are working well, I've applied them to all three prettier-eslint related projects and I've gotta say that it could be handy to have things be a tad bit faster. On files over 100 lines, perf issues are slight, but noticeable. Anyone willing to throw their hat into making prettier-eslint faster, please be my guest!

[2017-01-22 11:17] subblue opened #10 "Refused to evaluate a string as JavaScript error"
I just installed this new version and now Atom is failing to load the package on startup.

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Mac OS X 10.12.2
**Thrown From**: [prettier-eslint](https://github.com/kentcdodds/prettier-eslint) package, v1.1.0

### Stack Trace

Failed to load the prettier-eslint package

[code]

### Commands

[code]

### Config

[code]

### Installed Pa

[2017-01-22 14:33] kentcdodds commented on #10
Hmmm... Did Atom open the issue on this repo? If so I need to fix it because this issue should be on https://github.com/kentcdodds/prettier-eslint-atom

But no worries. Do you think you could dig a little deeper and find out why this is happening? And even submit a fix? Thanks! [makeapullrequest.com](http://makeapullrequest.com)

[2017-01-26 19:09] lydell opened #11 "What do you think about eslint-plugin-prettier?"
https://github.com/not-an-aardvark/eslint-plugin-prettier

It allows you to:

- Verify that files are formatted with prettier by running `eslint`.
- Format files by runnung `eslint --fix`.
- Re-use any tooling/setup that works with eslint.

[2017-01-26 19:12] kentcdodds commented on #11
I like it because it means that you can just stick with the existing ESLint tooling. That's pretty great. I need to give it a shot. One thing I like about prettier-eslint is it can configure prettier based on the eslint config. Because with eslint-plugin-prettier I could configure the plugin differently from the rest of my config. But I need to give this a closer look. I would love for us to conve

[2017-01-26 19:20] lydell commented on #11
Ah, I see, prettier-eslint looks at eslint's options! For example, it looks at the good old "quotes" eslint rule to decide if prettier should use double or single quotes. That's pretty cool, I didn't know that before! (Though in my project, I've only enabled non-stylistic lint rules.)

[2017-01-26 19:26] kentcdodds commented on #11
Actually, that seems like a pretty good solution. Just don't configure things with ESLint that prettier can handle. Let me take a chance to use your plugin on my stuff. If I like it then I'll deprecate this package and recommend people use yours. Sound good?

[2017-01-26 19:48] lydell commented on #11
Yes, it sounds like a good plan. Just note that I didn't make the plugin, @not-an-aardvark did (thanks!) :)

[2017-01-26 19:58] kentcdodds commented on #11
Trying it now and one major issue I have is I'm getting:

Because I prefer to avoid semicolons. @not-an-aardvark, I think that the goal of prettier-eslint is to allow you to use prettier for prettier is good for and eslint for what eslint is good for. Meaning that prettier formats things and eslint lints things. I would prefer to not get linting errors from prettier and only get the autoformating

[2017-01-26 20:01] lydell commented on #11
Ah, I didn't think of that use case. Looks like both tools have reason to exist, then! (Because I doubt that will be doable in eslint-plugin-prettier).

[2017-01-26 20:02] kentcdodds commented on #11
Well, if @not-an-aardvark can agree to allow configuration to disable error reporting from this plugin, then we could do away with my module. Otherwise, yes, I think they should both exist to support the different use cases.

[2017-01-26 20:16] not-an-aardvark commented on #11
I agree. I think the best use case for `eslint-plugin-prettier` would be to only enable the eslint rules that report a pattern in the AST (e.g. requiring curly braces around `if` statements), and to disable all the eslint rules that don't touch the AST (e.g. requiring semicolons). Then `prettier` can pretty-print the AST, which avoids conflicts since `prettier` doesn't actually make any changes to

[2017-01-26 20:24] kentcdodds commented on #11
Sounds good. I'll go ahead and reference your project in the README with that note. Great work team :)

[2017-01-26 20:26] lydell commented on #11
Would be nice to summarize the differences between the two tools:

- prettier-eslint: Use `eslint --fix` as way to get formatting options not existent in prettier. For people "disagree" with prettier's output.
- eslint-plugin-prettier: Plug prettier into your eslint workflow. For people who "agree" with prettier's output.

Makes sense? (The wording of course needs to be improved.)

[2017-01-26 20:27] kentcdodds commented on #11
I like it. @lydell, do you want to do contribute that? Please make sure to follow [the contributing guidelines](https://github.com/kentcdodds/prettier-eslint/blob/master/CONTRIBUTING.md).

[2017-01-26 20:46] lydell commented on #11
Yes, I'll send a PR soon!

[2017-01-26 21:36] #11 closed

[2017-02-13 16:33] davidosomething opened #16 "Support `eslintrcPath`"
For some projects there is a custom path to eslintrc files, hence support for `  -c, --config path::String    Use configuration from this file or shareable config` in the eslint cli http://eslint.org/docs/user-guide/command-line-interface

Can you add support for `--eslintrcPath` to mirror that functionality (eslintConfig takes an object instead of path)

This should also be passed through to `pre

[2017-02-13 16:35] kentcdodds commented on #16
Happy to support that. Would you be willing to [makeapullrequest.com](http://makeapullrequest.com)?

[2017-02-13 16:51] davidosomething commented on #16
sure i'll give it a go

[2017-02-21 03:50] greenkeeper[bot] opened #25 "An in-range update of prettier-eslint-cli is breaking the build 🚨"
## Version **2.0.1** of [prettier-eslint-cli](https://github.com/kentcdodds/prettier-eslint-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/kentcdodds/prettier-eslint/compare/greenkeeper%2Fprettier-eslint-cli-2.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier-eslint-

[2017-02-21 03:51] #25 closed

[2017-02-22 05:06] elaijuh opened #29 "Any plan to have it supported by vscode?"
That will be awesome to have it for vscode

[2017-02-22 05:12] kentcdodds commented on #29
Someone mentioned they wanted to make a vscode plugin, but I haven't heard anything since then. How would you like to try it out?

[2017-02-22 05:41] elaijuh commented on #29
i cannot guarantee that, will try to do it.

[2017-02-22 11:15] robwise opened #31 "Ignore"
Wrong repo

[2017-02-22 11:15] #31 closed

[2017-02-23 07:15] chrisdrackett opened #32 "semi's after class methods"
I know this probably isn't an issue with this project, but I'm wondering if someone here might be able to help me figure out what is going on. For just about everything I'm able to have this remove semi's from my code, however within classes I still seem to get them:

input
[code]

output
[code]

any idea how I might stop these from being inserted? What is slightly strange is that the linter does

[2017-02-23 07:19] chrisdrackett commented on #32
using the following config:

[code]

[2017-02-23 16:15] kentcdodds commented on #32
Huh, yeah, I'm not sure about that... I don't have that problem personally. If you could reproduce the issue in a new repository that I can clone and try out then maybe I'll find time to see how I can help :)

[2017-02-23 21:01] chrisdrackett commented on #32
here is a simple test app using create-react-app:

https://github.com/chrisdrackett/prettier_semi_test

https://github.com/chrisdrackett/prettier_semi_test/blob/master/src/App.js has been run through https://github.com/kentcdodds/prettier-eslint-atom via save.

[2017-02-24 23:47] chrisdrackett commented on #32
@kentcdodds I updated the project to be much much simpler:

https://github.com/chrisdrackett/prettier_semi_test

I'm wondering if this is babel related, but as far as I can tell babel should no longer be requiring semicolons?

https://github.com/hzoo/babel/commit/63b328ce87f3eff9f31510c00d3bd52fb4520e89

I'm still trying to get up to speed on this, so I'm probably missing something :)

[2017-02-26 05:51] kentcdodds commented on #32
Huh, I tried it out and have the same thing. Really weird because I haven't noticed it on my own projects... Could you dig a little deeper?

[2017-02-27 09:50] im-martijn opened #37 "Infer options from eslint-plugin-prettier"
When using prettier-eslint with my .eslintrc I get an error. Any thoughts on what it may be? I used the trace loglevel and got the output below. This is not all the output, but the inferred options and the file that was being linted. I am also using eslint-plugin-prettier. I have a rule for it in .eslintrc:
[code]

<details>
  <summary>prettier-eslint --write filename --logLevel trace</summary>

[

[2017-02-27 19:22] chrisdrackett commented on #32
I'm not really sure where to dig next at this point. Are you able to use Property Initializers?

[2017-02-27 19:45] kentcdodds commented on #32
Oh! You know what! You're right, it's automatically adding semicolons on public class fields for me too! So the problem is that eslint cannot (by itself) handle public class fields, you need babel-eslint for that. Which you have. But the next problem is that babel-eslint doesn't currently have a `semi` rule. So it cannot autofix things. So what's happening is `prettier` adds it, and `eslint --fix`

[2017-02-27 20:23] kentcdodds commented on #37
Could you update your version of `prettier-eslint-cli` and run it again (without TRACE)? This should surface the underlying error now.

[2017-02-27 20:24] kentcdodds commented on #32
So that was merged and released. If you could configure `babel/semi` now, it should work for you!

[2017-02-27 22:22] #32 closed

[2017-02-28 07:26] chrisdrackett commented on #32
yay! bliss.

Thanks @kentcdodds!

[2017-02-28 08:42] im-martijn commented on #37
Thanks, I tried again. I get:
[code]

In my .eslintrc config I use a boolean for trailingComma though.

[2017-02-28 17:34] kentcdodds commented on #37
Huh, it looks like you have an old version of `prettier`. Are you sure you upgraded to the latest version? In any case, you'll also want to note [the technical details](https://github.com/prettier/prettier-eslint#inferring-prettieroptions-via-eslintconfig) section because `eslint-plugin-prettier` rules are not currently supported in the inference capabilities of `prettier-eslint`. We should defini

[2017-02-28 19:55] kentcdodds commented on #10
Things have changed a bit. I expect this is no longer a problem. If you do have further issues, please file a new issue on the atom plugin repo as mentioned.

[2017-02-28 19:55] #10 closed

[2017-02-28 22:33] im-martijn commented on #37
Yeah, that was it. Turned out I had an older prettier version installed globally (0.18) and in the package.json was prettier-eslint 4.1.1. I did have to tweak my Webstorm config a bit (a file watcher that runs prettier-eslint-cli on save of any js files). But it seems to work properly now!

[2017-02-28 23:59] kentcdodds commented on #37
Cool. Just so you know, `prettier-eslint` is still unable to determine the best prettier options based on your config. Would you like to add support for inferring options from `eslint-plugin-prettier` config?

[2017-03-01 00:07] kentcdodds commented on #29
Sweet! @RobinMalfait has released a version: https://github.com/RobinMalfait/prettier-eslint-code

I'm closing this issue. Feel free to continue discussion on development over there!

[2017-03-01 00:07] #29 closed

[2017-03-01 08:49] im-martijn commented on #37
I can have a look.

<https://www.instantmagazine.com>
+31 (0)20 3032822 <%2B31203032822>
martijn@instantmagazine.com
www.instantmagazine.com
www.twitter.com/instantmagazin
www.facebook.com/instantmagazine

<https://www.youtube.com/watch?v=UYu6Fv0Z3Vg>

2017-03-01 0:59 GMT+01:00 Kent C. Dodds <notifications@github.com>:

[2017-03-03 13:33] guywald1 commented on #32
All glory be to @kentcdodds

[2017-03-07 06:15] dgcoffman opened #43 "ESLint integration does not work"
Enabling ESlint integration in settings and then formatting a JS file does not cause eslint --fix to be run.

Using linter-eslint's format-on-save _does_ cause eslint --fix to transform my code as expected.

I have lint rules in `.eslintrc.yml` with eslint `npm install`ed.

`node_modules/eslint/bin/eslint.js --fix tab.js` does the same thing as saving the file `tab.js` and letting linter-eslint fo

[2017-03-07 06:22] kentcdodds commented on #43
Hi @dgcoffman,
Please file this issue on the [`prettier-atom`](https://github.com/jlongster/prettier-atom) repo. If you could provide a small git repository where you see this issue that would be very helpful. Thanks.

[2017-03-07 06:22] #43 closed

[2017-03-08 11:42] orlin opened #44 "Parse errors not as pretty as ESLint's"
I run `prettier-eslint --write` through `husky` & `lint-staged`.  I wonder if there are any lint errors / or warnings that the `--write` cannot `--fix` (other than parser errors, maybe a question for `eslint`?), or rephrased: would there be any use of running `eslint` after `prettier-eslint --write`?  I wrote [more on this here](https://github.com/okonet/lint-staged/issues/134).

While playing wit

[2017-03-08 19:21] kentcdodds commented on #44
Hey @orlin,
Thanks for your input. If you want to make a pull request, that'd be great. The challenge is that errors can come from any number of modules. `prettier-eslint-cli`, `prettier-eslint`, `eslint`, `prettier`, or any number of transitive dependencies as well. And previously we didn't show very much information and that led to a lot of people asking for help when more information in the err

[2017-03-13 17:17] Belir opened #48 "Eslint config based prettying"
Hey,
based on:
https://github.com/jlongster/prettier-atom/issues/85#issuecomment-286129306

there is something wrong with reading eslint configuration.

[code]

[code]

Used configuration
[code]

and output from `prettier-eslint-cli`:
[code]

[2017-03-13 20:37] kentcdodds commented on #48
Hi there! Here's the problem. [These](https://github.com/prettier/prettier-eslint/blob/c59da6762773bc3b4211cc3a15b96e8bd6847cee/src/utils.js#L116) should probably have a default value (learn more about destructuring [here](https://www.youtube.com/watch?v=t3R3R7UyN2Y&feature=youtu.be&t=1h07m01s), learn about default values specifically [here](https://youtu.be/t3R3R7UyN2Y?t=1h26m38s)). `arrays`, `ob

[2017-03-13 21:35] sheerun opened #50 "Make eslintConfig the same way as prettierOptions"
i.e. it <strike>should</strike> could provide just the defaults if filePath is provided.

It's in the same spirit as "You can also provide some of the options and have the remaining options derived via your eslint config.", but for eslint config, not prettier config.

[2017-03-13 21:38] sheerun commented on #50
My use case: configuring prettier-eslint with some defaults, but allow user to override them in .eslintconfig

[2017-03-13 22:17] kentcdodds commented on #50
Sounds good to me! Thanks for bringing it up! Anyone can feel free to [make a pull request](http://makeapullrequest.com)

[2017-03-14 13:10] Belir commented on #48
@kentcdodds ya, sounds like a plan for spare time at the weekend ;)

[2017-03-14 13:12] #50 closed

[2017-03-14 16:44] sheerun opened #54 "Don't instantiate eslint for each linted file"
Currently prettier-eslint instantiates eslint for each linted file. The results seems to be that for every file eslint config is reading its configuration, probably hitting the performance.

It would be nice if someone did research if it's possible to make eslint read configuration just one time (unfortunately I don't have time to do so).

It seems to be the case based on output of prettier-eslint

[2017-03-16 15:26] briandipalma opened #55 "Line length no longer respected."
Since moving to use prettier-eslint prettier doesn't seem to respect the 80 column line width default setting and leaves long lines of code as they are. Is this because the ESLint config doesn't specify a max line length?

It's handy to have prettier deal with 95% of the code that goes beyond 80 columns but for ESLint not to warn about lines that go beyond that length in old code bases, is there a

[2017-03-16 15:29] kentcdodds commented on #55
You need to set `max-len: "off"` in your eslint config and the prettier default of `80` will apply.

Good luck!

[2017-03-16 15:59] briandipalma commented on #55
Thanks for getting back to me so soon, it's appreciated.

Sadly your suggestion doesn't seem to have any effect. Just to test I set max-len to 80 and that brought back the old behavior along with errors for long lines that prettier couldn't handle.

Odd because your suggestion makes sense but I think what's happening is that this code here (https://github.com/prettier/prettier-eslint/blob/da46ba78

[2017-03-16 16:02] kentcdodds commented on #55
Yep, that makes sense. The change goes [here](https://github.com/prettier/prettier-eslint/blob/962480bfad4ad74c87a6b3f821f9fa0d33d40492/src/utils.js#L93) and a new test case would go [here](https://github.com/prettier/prettier-eslint/blob/962480bfad4ad74c87a6b3f821f9fa0d33d40492/src/utils.test.js#L157). Should be fairly straightforward.

Please see [the contributing guidelines](https://github.com/

[2017-03-16 21:30] artembloom opened #56 "semi rule doesn't work in React Classes"
Hi!

Even if I have ` "semi": ["error", "never"] ` rule in .eslintrc prettier adds semi in the end of state and arrow functions in React Classes like this

[code]

It seems this is a bug

[2017-03-16 21:49] kentcdodds commented on #56
Please see https://github.com/prettier/prettier-eslint/issues/32

TL;DR, you need to use `eslint-plugin-babel`'s `babel/semi` rule instead of ESLint's `semi` rule.

Good luck :)

[2017-03-16 21:49] #56 closed

[2017-03-19 04:34] chrbala opened #57 "Does prettier-eslint not honor disabling comments?"
I've been having an issue with prettier-eslint via prettier-atom. Basically, my eslint config uses dangling commas, but in some situations, dangling commas don't run correctly. For example, the below code won't work correctly when run in config files that aren't transpiled.

[code]

prettier-eslint is adding back that comma when I have ``/* eslint-disable */`` at the top of my file. Does prettier-

[2017-03-19 15:05] #57 closed

[2017-03-19 15:08] kentcdodds commented on #57
I documented in the README why this is happening. I hope that helps. Feel free to open a PR to change the defaults :)

I just realized that my update to the README doesn't really answer your question though. The fact of the matter is that prettier doesn't care about your eslint comments, so even though eslint doesn't run, prettier does. If you'd like to turn this issue into a feature request for t

[2017-03-19 15:16] kentcdodds commented on #57
Another solution for you would be to add that file to `.eslintignore`

[2017-03-27 15:05] spudly opened #58 "Option to Run Prettier Last"
I've adopted a strategy of using eslint to catch errors, but prettier to enforce style. Because of this strategy, I'd really rather run prettier *after* `eslint --fix`. This would give prettier the final say on how the code should be styled.

It would be great if there was an option (`--prettier-last` maybe?) that would run prettier *after* running eslint.

If needed, I could work on the pull requ

[2017-03-27 15:12] kentcdodds commented on #58
Sure! Feel free to add the option to this repo and then a flag to [the CLI](https://github.com/prettier/prettier-eslint-cli/blob/master/src/parser.js) (use it [here](https://github.com/prettier/prettier-eslint-cli/blob/master/src/format-files.js#L60) and [here](https://github.com/prettier/prettier-eslint-cli/blob/master/src/format-files.js#L175)), and then an option to the [atom plugin](https://gi

[2017-03-29 17:59] #58 closed

[2017-04-01 08:50] devillexio opened #61 "Question regarding reformatting of multi-line, chained function calls onto a single line"
Works great!

The only issue I've come across is where it reformats chained function calls onto the same line.

Any idea why it would reformat:
[code]

into this:
[code]
?

For additional context, I'm using the VS Code Plugin by Robin Malfait, and he suggested I ask here (see [original issue](https://github.com/RobinMalfait/prettier-eslint-code/issues/4)).

As suggested by Robin, I tried overridin

[2017-04-01 14:37] kentcdodds commented on #61
It's most likely due to your max-len setting. The best way to troubleshoot the issues is to try things with prettier first, see what happens, then take that output and apply eslint --fix to it and that is what you'll get from prettier-eslint.

My guess is prettier puts it on one line and the eslint rule is not fixable. You could improve this by making the eslint rule fixable ([make a PR](http://ma

[2017-04-01 14:37] #61 closed

[2017-04-02 10:12] anback opened #62 "Prettier-eslint is not paying attention to eslint max-len rule configured per file"
Hi!

Super great work with eslint-prettier! Lovin it!

See screenshot. When i configure the max-len rule like this atom-prettier does not care. It does work when i configure a max-len rule in .eslintrc.

With "work" i mean it respects the max-len rule and format the code accordingly

![image](https://cloud.githubusercontent.com/assets/2440382/24580781/a48216aa-170e-11e7-8e87-ad287517ffc8.png)

[2017-04-02 16:14] kentcdodds commented on #62
I'm unsure of what could cause this. Could you dig a little deeper using [the logging capabilities](https://github.com/prettier/prettier-eslint#loglevel-enum-trace-debug-info-warn-error-silent)?

If you have the atom plugin, then, you could pop open the developer tools and set `process.env.LOG_LEVEL` to `trace` or `debug` before you do any formatting. That's a pretty easy way to do this.

Let us k

[2017-04-03 10:01] devillexio commented on #61
Thanks @kentcdodds! Although I'm all for creating a PR to fix an issue, I'm not sure where the issue currently lies. :)

After some further investigation I found that manually running prettier causes the behavior I showed in my OP, and then ESLint doesn't even report it as a problem, never mind fix it (based on the derived AirBnb rules we use).

I then found that there is an ongoing [discussion on

[2017-04-10 23:02] donovanhiland opened #64 "Long line length ternary statements being broken onto multiple lines"
Hi there,

I'm using prettier-eslint both from the cli and through the atom plugin depending on the file/project. With this eslintrc:

    {
      parser: 'babel-eslint',
      extends: 'airbnb'
    }

I get some ternary lines being formatted onto a single line, and others are being broken onto multiple lines. It looks like the lines being broken are those over 100 characters. Any ideas why this m

[2017-04-10 23:26] kentcdodds commented on #64
This is because `prettier` doesn't have any sort of configuration for ternary. So when prettier runs over your code it formats it nicely however it needs to to be consistent. Then when ESLint comes along, it is unable to fix it (because that particular rule is unfixable). I recommend disabling the rule and just going with whatever prettier does.

[2017-04-10 23:26] #64 closed

[2017-04-16 15:59] slacktracer opened #66 "Max line length corner case?"
_Prettier_ then _eslint --fix_ then _max-len_ error.

The following code is perfectly formatted by prettier alone but when eslint _--fixes_ it the maximum line length rule is violated.

[code]

.eslintrc.js:
[code]

_--fixed_:
[code]

Is it even fixable? I mean, it's the fix that breaks it.

Is it the definition of irony...?

[2017-04-16 16:40] kentcdodds commented on #66
To be clear... The problem is that because you run `prettier` first, it removes the space between the function name `sortPlacesByDistance` and the open paren `(`. Because of this, prettier doesn't do anything more to the function assignment line (normally it would break it down to the next line). Then when you run `eslint --fix` it adds it because you've configured `space-before-function-paren` wh

[2017-04-16 16:40] #66 closed

[2017-04-16 17:15] slacktracer commented on #66
@kentcdodds

I understand. =)

Thank you.

[2017-04-17 06:40] lifeiscontent opened #67 ".eslintignore not being found?"
When running prettier-atom it doesn't seem .eslintignore is being used as it still runs on directories I've ignored.

[2017-04-17 14:57] kentcdodds commented on #67
Hmmm... I've not noticed this. Could you create a repository to reproduce this issue? And maybe dig a little bit to figure out what's going on?

[2017-04-17 14:58] kentcdodds commented on #55
I think this has been resolved...

[2017-04-17 14:58] #55 closed

[2017-04-17 15:00] kentcdodds commented on #54
We could probably memoize the function (using [`fast-memoize`](https://www.npmjs.com/package/fast-memoize)) or [`lodash.memoize`](https://www.npmjs.com/package/lodash.memoize)) on a per-directory basis. That could speed things up significantly...

[2017-04-17 15:02] kentcdodds commented on #48
That line of code has moved to [here](https://github.com/prettier/prettier-eslint/blob/a7cc1de8c534432fa4ffb8ffe47973c978737f33/src/utils.js#L167) do you still wanna do this?

[2017-04-17 15:11] Belir commented on #48
@kentcdodds sure but unfortunately I didn't have spare time, I will do it this week

[2017-04-18 21:32] sheerun opened #68 "Shoudn't format file when only prettier can process file"
If file has non-standard syntax, like class properties, prettier-eslint passes source through prettier but silently skips transforming through eslint. This behavior makes file to be formatted with default prettier settings, while the expected behavior is leaving file intact.

Example file:

[code]

if you format this with prettier-eslint rules set to

[code]

the jsx is formatted to double quotes

[2017-04-18 21:39] kentcdodds commented on #68
Hmmmmm... Are you sure that's what's happening? If you look at the source code, you'll see that it throws an error if prettier or eslint fail.

If it is a problem, feel free to open a pull request to fix it. Thanks!

[2017-04-18 21:54] sheerun commented on #68
I'm sure only about the result, maybe it happens because of some other reason

[2017-04-18 22:10] kentcdodds commented on #68
Any chance you could make a repo that reproduces the issue?

[2017-04-19 13:18] sheerun commented on #68
It's no longer an issue for me, I ended up configuring babel-eslint parser so any syntax babel recognizes is possible. You might consider the same for prettier-eslint-cli: https://github.com/sheerun/prettier-standard/commit/eea070e836edf73e12c9479caa0a3e11e269a029

[2017-04-19 13:18] #68 closed

[2017-04-19 14:07] kentcdodds commented on #68
Thanks for sharing. I think it's not an issue for prettier-eslint because people configure ESLint with the parser that works for their code. So if they're using ESNext code that ESLint doesn't support, they'll specify they want to use the babel-eslint parser and that's what we'll use.

Cheers.

[2017-04-19 22:50] echenley opened #69 ""comma-dangle": [2, "always-multiline"] should not add trailing commas to function arguments"
http://eslint.org/docs/rules/comma-dangle#options

According to the eslint docs, "always-multiline" ignores functions by default. I believe that means that prettier-eslint should set prettier's `--trailing-comma` option to `es5` rather than `all`, unless `functions: "always"` is specified in eslint.

Relevant eslint config:

[code]

Prettier command:
[code]

Unformatted:
[code]

Prettier + `eslint

[2017-04-20 01:04] kentcdodds commented on #69
Thanks for digging into this. Could you look into submitting a pull request?

[2017-04-20 02:58] kentcdodds commented on #69
[Here's the code that should change](https://github.com/prettier/prettier-eslint/blob/master/src/utils.js#L156-L173), [here's where you'd add a test case](https://github.com/prettier/prettier-eslint/blob/master/src/utils.test.js#L170), [here's a free course on how to contribute to OSS](http://makeapullrequest.com/) (if you're new to contributing), and [here's our CONTRIBUTING.md](https://github.co

[2017-04-21 19:53] #69 closed

[2017-04-22 01:40] robwise opened #72 "Custom Fallback Options if a Setting is Not Inferrable from ESlint"
This is, admittedly, purely needed for prettier-atom. In prettier-atom, if you turn ESlint integration on, it's going to stay on regardless of whether the project you've got open actually has all prettier-related rules set in their config.

If the project doesn't have an ESlint rule needed for prettier, users are wanting to fall back to the prettier setting they've set inside of their prettier-ato

[2017-04-22 02:00] kentcdodds commented on #72
I think this is great. What if we did added `prettierFallbackOptions`? Then we could use that [here](https://github.com/prettier/prettier-eslint/blob/849b25a4b648bf9664e9053588b8deb6d55ce6ce/src/utils.js#L117-L140). I _think_ that it would be based on whether the value is `RULE_DISABLED` then we'd use the fallback. Maybe @briandipalma can weigh in here with a suggestion.

But in any case, I'd be t

[2017-04-22 02:10] robwise commented on #72
I'm looking at the code and trying to figure out where it would go, I think `RULE_DISABLED` is only when the rule is set to `0` or `off`. If the rule can't be found in ESlint, it seems to be supplied a default value when calling `getRuleValue`: https://github.com/prettier/prettier-eslint/blob/849b25a4b648bf9664e9053588b8deb6d55ce6ce/src/utils.js#L204

I'm not totally sure how I'd hook in here

[2017-04-22 02:20] kentcdodds commented on #72
Right [here](https://github.com/prettier/prettier-eslint/blob/849b25a4b648bf9664e9053588b8deb6d55ce6ce/src/utils.js#L231-L236) we log if the rule's not been configured. Actually if you pop open Atom devtools and enter: `process.env.LOG_LEVEL = 'trace'` then run format it'll give you a lot of handy info, like this:

<img width="886" alt="screen shot 2017-04-21 at 8 20 23 pm" src="https://cloud.gith

[2017-04-23 05:02] #72 closed

[2017-04-23 18:55] Belir commented on #48
@kentcdodds is there any way of testing if my code is fixing that in action and I probably will need your help with test coverage :)

[2017-04-23 21:33] kentcdodds commented on #48
Add a test case or so here: https://github.com/prettier/prettier-eslint/blob/a7cc1de8c534432fa4ffb8ffe47973c978737f33/src/utils.test.js#L170
Thanks!

[2017-04-24 15:43] Belir commented on #48
@kentcdodds thanks for opportunity and apologize for delay :)

[2017-04-24 15:47] #48 closed

[2017-04-27 22:30] 0x80 opened #75 "Rule "quotes": ["error", "backtick"] causes errors"
If I use this rule

`"quotes": ["error", "backtick"]`

I get errors like this
[code]

Using prettier-eslint-cli 3.4.2

[2017-04-27 23:58] lemon79 commented on #75
this shouldn't have happened, let me install eslint and check

[2017-04-28 02:17] kentcdodds commented on #75
I added a section in the README that should help you find out what the problem is: [debugging](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)

[2017-04-28 05:46] lemon79 commented on #75
Thank you!!

[2017-04-28 09:05] 0x80 commented on #75
I ran it with trace. The inferred eslint options contain

[code]

But the options then passed to prettier by prettier-eslint are
[code]

Since prettier expects a boolean for singleQuote this breaks like the error suggested

[2017-04-28 10:10] 0x80 commented on #75
I created this PR #76

Although I can't figure out how to test it. If I install it from my github branch the binary doesn't seem to pick up the new code.

BTW The trace mode brings my computer to its knees when I use it on a glob pattern matching a bunch or files. Might be worth mentioning that it's better run on a single file. And I wonder if the long stack traces are necessary. They pollute the

[2017-04-28 16:52] kentcdodds commented on #75
Merged. Thanks!

That's kind of the point though. You can also use `debug` instead of `trace`. Thanks for the feedback. I added a note about only running it on one :)

Thanks again!

[2017-04-28 16:52] #75 closed

[2017-05-02 10:16] jortizsao commented on #62
Hi, same issue here. I'm using the eslint-airbnb rules that comes with a max-len of 100, and prettier-eslint is not respecting the rule. i.e It keeps the line as it is with 102 characters.

![screen shot 2017-05-02 at 12 07 19](https://cloud.githubusercontent.com/assets/13261810/25613852/0ad80a66-2f30-11e7-8d9c-f7d0f751a323.png)

See attached log from prettier-eslint in trace mode
[prettier-eslint

[2017-05-02 14:18] kentcdodds commented on #62
That's a pretty big log 😀 would probably be easier to try to reproduce it with a single smaller file. Also, I probably won't have time to do any more than review a [pull request](http://makeapullrequest.com) (which I'm happy to do). I don't have enough time to provide much support! Sorry, and good luck!

[2017-05-04 18:16] kirkstrobeck opened #79 "Upgrade prettier"
[1.3.1](https://github.com/prettier/prettier/tree/1.3.1) is out. This is still on [1.3.0](https://github.com/prettier/prettier-eslint/blob/v6.2.0/yarn.lock#L4357-L4370). Ideally, something like greenkeeper would always fetch the latest on a daily basis, since it’s a core dep.

[2017-05-04 18:56] kentcdodds commented on #79
This package is using `"prettier": "^1.3.0",` so we shouldn't need to actually update the dependency until prettier v2.0.0 comes out. Just reinstall deps and you should be good.

[2017-05-04 18:56] #79 closed

[2017-05-09 22:59] enriquecaballero commented on #69
I'm still having this issue. I don't think PR#71 fixes this.

[2017-05-09 23:19] kentcdodds commented on #69
Thanks for reaching out @enriquecaballero. Could you [make a pull request](http://makeapullrequest.com) to fix the issue you're seeing?

[2017-05-09 23:28] enriquecaballero commented on #69
I would, but there seems to be some confusion here as to what the expected behavior is for this issue. The Prettier README defaults trailing commas to "none" and quotes default to false, meaning no single quotes turned on by default. Yet, for some reason, when I use Prettier via Atom, that uses `prettier-eslint`, whenever the ESLint Integration box is checked, I don't have this problem. It's only

[2017-05-10 00:51] echenley commented on #69
@enriquecaballero Are you trying to get trailing commas for all function arguments? If so, you need to set your eslint config to:

[code]

Either of the following will give you trailing commas for everything EXCEPT functions:

[code]

Pretty sure setting this in your eslintrc should get you the same results for both prettier-eslint and prettier-eslint-cli. Could be wrong though.

[2017-05-10 01:08] enriquecaballero commented on #69
@echenley All I'm trying to understand is why `prettier-eslint-cli`'s defaults aren't matching either Prettier's or ESLint's. Like I said in my earlier comment, Prettier defaults trailing commas to "never" and single quotes to false. ESLint's comma-dangle rule defaults to "never". It just feels like prettier-eslint-cli is overriding Prettier whenever those rules aren't set. To get comma-dangles to

[2017-05-10 01:11] enriquecaballero commented on #69
@echenley It just seems that `prettier-eslint-cli` and `prettier-atom` use `prettier-eslint` differently. `prettier-atom` has Prettier's defaults correctly set up, but `prettier-eslint-cli` does not.

[2017-05-10 01:28] enriquecaballero commented on #69
I think I understand now. When you install `prettier-atom`, in its settings it provides the Prettier "defaults" correctly, as you can see below:

<img width="500" alt="screen shot 2017-05-09 at 9 12 08 pm" src="https://cloud.githubusercontent.com/assets/7918284/25878953/84291ad2-34fc-11e7-9d6d-88635daced00.png">

`prettier-atom` depends on that form to create internal defaults:

[code]

Here's wha

[2017-05-10 01:54] kentcdodds commented on #69
Thanks for digging further. What do you propose?

[2017-05-10 15:34] enriquecaballero commented on #69
I found the problem. The defaultValue param's are not matching Prettier's defaults in these lines:
- https://github.com/prettier/prettier-eslint/blob/master/src/utils.js#L198 (should be `false`)
- https://github.com/prettier/prettier-eslint/blob/master/src/utils.js#L215 (should be 'none')
- https://github.com/prettier/prettier-eslint/blob/master/src/utils.js#L243 (should be `true`)
Working on a PR

[2017-05-10 16:07] kentcdodds commented on #69
Ah! Nice, thanks for looking into that. A PR will be accepted. Now to decide whether this should be a breaking change or not... 🤔

I think it wont be. Things are a little tricky with this package 🙃

[2017-05-13 00:13] lukaszmoroz opened #82 "Rules no-var and prefer-const not being fixed"
**Versions**:

- `prettier-eslint` version: 6.2.1
- `node` version: v7.10.0
- `yarn` version: 0.23.4

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

[code]

**What happened:**

[code]

**What should happen:**

[code]

**Problem description:**

These rules are ignored by `pret

[2017-05-13 00:44] kentcdodds commented on #82
Sounds great! Could you [make a pull request](http://makeapullrequest.com) to fix that? Thanks!

[2017-05-13 02:31] #82 closed

[2017-05-16 14:59] dacz opened #85 "Do not shorten the (slightly) longer lines"
I posted this issue to prettier-atom and then on the recommendation tried to process these issues with prettier-eslint-cli with the same output, therefore I'm landing them here:

prettier-eslint-cli version: 3.4.4
node: v7.9.0
yarn: 0.24.4

Example:

`const enhWithZip = withProps(props => ({ zip: path([ 'place', 'zip' ], props) }));`

Setting is 80char wide (this is 83). Cannot make it shorter. Wh

[2017-05-16 15:04] kentcdodds commented on #85
Yeah, this is a limitation of the way that prettier and eslint are integrated. If eslint changes anything that results in the line being too long, then that line doesn't get fixed by prettier (because prettier's already run). Even if prettier were to run last, it would just remove the extra space that eslint had added rather than break to a new line.

Because of this, we've marked this particular

[2017-05-16 15:04] #85 closed

[2017-05-17 23:39] lukaszmoroz opened #86 "Shebang being stripped when run with eslint-plugin-node"
**Versions**:

- `prettier-eslint` version: 6.2.2
- `node` version: v7.10.0
- `yarn` version: 0.24.5

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

[code]

[code]

https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/shebang.md
When run with `eslint --fix`

[2017-05-18 04:00] kentcdodds commented on #86
Hmmm... Interesting. I'm not sure what would cause that :-( Could you make a repository that reproduces this?

[2017-05-18 15:02] lukaszmoroz commented on #86
https://github.com/lukaszmoroz/test-shebang

[2017-05-18 21:39] kentcdodds commented on #86
Looks like an ESLint bug: https://github.com/lukaszmoroz/test-shebang/pull/1

I'll let you report this over there. Good luck!

[2017-05-18 22:16] lukaszmoroz commented on #86
Oh, so `prettier-eslint` reads the file and runs it through `executeOnText`.
`node/shebang` needs to know which file it is run on to check if the file is in `package.json` `bin` field.
[`executeOnText`](http://eslint.org/docs/developer-guide/nodejs-api#executeontext) takes a second parameter that sets the filename.
See: https://github.com/lukaszmoroz/test-shebang/commit/0d5b078b53214b78b24c47f3ac0

[2017-05-18 22:41] kentcdodds commented on #86
Ah! Nice! Yeah, this is a prettier-eslint issue then! Woo! Thanks for digging into that. Could you [Make a pull request](http://makeapullrequest.com) to make that happen?

[2017-05-18 23:50] #86 closed

[2017-05-18 23:57] lukaszmoroz commented on #62
The problem is probably that prettier-eslint only reads the eslint config to set options for prettier, which reformats the line to fit the default 80 characters, and eslint can't fix it back.

[2017-05-19 00:05] kentcdodds commented on #62
Ah, yeah, that's a known issue. Sorry, we can't fix that 😞

[2017-05-19 00:05] #62 closed

[2017-05-21 22:17] bstro opened #88 "Project integration"
It's not really clear to me, based on any of the current documentation, how to actually use this with a project. Is this a CLI tool? Does it require a configuration file? Is there a default location for such a configuration file? Is there an example available that shows how to hook this up with an existing set of eslint rules? I just can't quite figure out how to use this.

[2017-05-21 22:22] kentcdodds commented on #88
Hi there! Perhaps documentation could be improved. But there is a CLI looked in the readme, also there are editor plugins as well.

[2017-05-25 18:21] therealklanni opened #89 ".eslintrc.* not supported"
**Versions**:

- `prettier-eslint` version: ^6.2.1
- `prettier-atom` version: 0.31.1
- `atom` version:
[code]

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

No (it's being used in prettier-atom)

**What I did:**

I have a project with the spec-compliant ESLint config filename, such as `.eslintrc.json5`

**What happe

[2017-05-25 18:22] therealklanni commented on #89
Sorry, accidentally hit CMD-enter, still editing description

[2017-05-25 18:45] kentcdodds commented on #89
Please read the debugging tips. They talk about how to debug with atom.

[2017-05-25 18:46] kentcdodds commented on #89
Also, thanks for the report. I hope we can figure out what's going on :)

[2017-05-25 21:02] therealklanni commented on #89
Sorry, I skimmed the tips, but I must not have seen the Atom stuff. Will look into it.

[2017-05-26 00:28] therealklanni commented on #89
OK, I took another look following the debugging tips. I don't know what I must be doing wrong, but it doesn't seem to log any debug messages.

- I renamed my config back to .eslintrc.json and completely quit Atom and restarted it.
- Showing some of my eslint rules
- Showing that my JS file doesn't match the rules (has semi colons and semi is disabled in both prettier and eslint)
- Save file to tri

[2017-05-26 00:33] kentcdodds commented on #89
Hmmm... Are you sure you have format on save enabled? You could also try formatting from the menu.

[2017-05-26 00:34] kentcdodds commented on #89
Oh, also make sure you have eslint integration checked

[2017-05-26 00:39] therealklanni commented on #89
Disregard this issue. I tried dis/re-enabling it and now it's working. False alarm, sorry.

[2017-05-26 00:39] #89 closed

[2017-05-26 01:07] kentcdodds commented on #89
Glad you got it working

[2017-05-29 14:10] karlhorky commented on #37
@im-martijn How did you configure this exactly? This sounds like what we need...

[2017-05-29 14:32] im-martijn commented on #37
Using a Webstorm file watcher too. Just using it with prettier instead of
prettier-eslint-cli. Added a set of eslint config lines to my eslintrc to
fix any problems with the prettier setup we are using. Not as flexible as
it would be by inferring the settings, but workable.

<https://www.instantmagazine.com>
+31 (0)20 3032822 <%2B31203032822>
martijn@instantmagazine.com
www.instantmagazine.com
www

[2017-05-31 08:22] karlhorky commented on #37
Oh ok, so you're not using `prettier-eslint-cli` right now? I assume you set it up like this? https://github.com/prettier/prettier/blob/4babc032cbf98876ef97801238ce65f04ea6db14/editors/webstorm/README.md#using-file-watcher

In WebStorm does `prettier` alone also integrate with `eslint --fix` like [in Atom](https://github.com/prettier/prettier-atom/blob/ea1fbe9271e5205b92a155e090febf688457e705/READ

[2017-05-31 08:37] im-martijn commented on #37
That's more or less what I did. I also adapted the scope of files to watch. I also added arguments for single quotes, trailing commas, flow parser and print width. For the output paths to refresh I have $FileDir$. I did not set the working directory to anything at all. Well, it works for me.

[2017-05-31 12:15] karlhorky commented on #37
Can you post a screenshot of your settings?

[2017-06-01 10:15] medikoo opened #90 "Improve errors handling in config resolution"
I'm using this in context of VSCode (via [prettier-eslint-code](https://github.com/RobinMalfait/prettier-eslint-code)), at some point eslint config resolution stopped working (empty config was resolved internally)

The problem lies here: [src/index.js#L206-L209](https://github.com/prettier/prettier-eslint/blob/fee640478679d954f90175df32bdaaef3cfb33fd/src/index.js#L206-L209) Whatever error occurs d

[2017-06-01 19:09] kentcdodds commented on #90
Ah yes! Happy to accept [a pull request](http://makeapullrequest.com) to make that better :+1:

[2017-06-08 21:49] KurtPreston opened #92 "tslint support?"
I really like the idea of this project, but use TypeScript and tslint.  Would it be in scope of this project to add tslint support, or would you recommend I fork instead?

[2017-06-08 21:50] kentcdodds commented on #92
I've thought about that (especially when we added the CSS "support" which was basically just skip eslint for that step).

I'm not totally opposed to including TSLint support. So long as someone else is committed to helping maintain it because I don't use TSLint at all. Would you like to do that?

[2017-06-10 16:10] dzhytomyrsky opened #93 "--list-different does not work when use --write, using prettier+prettier-eslint+prettier-eslint-cli"
I wrote such npm script in my package.json:

`"format-js": "prettier-eslint --print-width 100 --list-different --write 'webpack/**/*.js' 'development/**/*.js'"`

it formats my js, but does not print prettified files. Is it possible to use --list-different with --write?

If not, it would be great to))

[2017-06-11 18:10] kentcdodds commented on #93
I'm not sure whether it's possible. I don't use that feature. Could you describe your use case?

[2017-06-14 09:49] Landen13 opened #94 "Run inside .vue components?"
Is it possible to run prettier-eslint inside .vue component?

I've set:

`
    "eslint.options": {
        "extensions": [
            ".js",
            ".vue"
        ]
    }
`

but it didn't help.

[2017-06-14 15:19] kentcdodds commented on #94
Does prettier support vue? Does eslint? I'm not at all familiar with this. But it seems like it'd be cool and I'd be happy to accept a [pull request](http://makeapullrequest.com) :-)

[2017-06-22 18:42] OliverJAsh opened #96 "Infers trailing comma as none when ESLint comma-dangle is set to always-multiline"
When `comma-dangle` has a value of `always-multiline`, prettier-eslint incorrectly infers the `trailing-comma` option to `none`: https://github.com/prettier/prettier-eslint/blob/de44a0a277afb3ec73bdf4e32a354d3d516f8d91/src/utils.js#L199.

Can we update it to infer either `es5` or `all`?

[2017-06-22 18:43] kentcdodds commented on #96
Yes! Would you like to [make a pull request](http://makeapullrequest.com)?

[2017-06-22 18:46] OliverJAsh commented on #96
I would be more than happy to do that, but wanted to discuss it first. What do you think the correct behaviour is? Set it to `es5` or `all`?

[2017-06-22 19:40] OliverJAsh opened #97 "Fallbacks don't work for disabled rules"
Given a disabled ESLint rule, e.g.

[code]

… and a fallback setting, e.g.

[code]

The fallback setting will not be honoured.

Example:

[code]

Actual result:

[code]

Expected result:

[code]

I expected this to stay on one line, because of the `printWidth: 200`.

[2017-06-22 19:53] OliverJAsh commented on #97
This appears to occur because we don't use the fallbacks if the rule is disabled: https://github.com/prettier/prettier-eslint/blob/de44a0a277afb3ec73bdf4e32a354d3d516f8d91/src/utils.js#L151

[2017-06-22 20:21] kentcdodds commented on #97
I suppose what you say makes sense. Happy to accept a pull request for it! Thanks!

[2017-06-22 20:24] kentcdodds commented on #96
I think `es5` works. We shouldn't want to add commas in function parameter lists and calls in this case I think (based on the eslint docs). Thanks!

[2017-06-23 19:01] OliverJAsh commented on #97
I opened a PR: https://github.com/prettier/prettier-eslint/pull/98

[2017-06-25 14:44] walleXD commented on #94
eslint supports Vue using the html plugin as in some sense the .vue files are structured as html files with template, style and script tags. atom's prettier plugin is able to do fix .vue files so it i think this is definitely a possibility

[2017-06-30 08:04] wbern opened #100 "multiple if conditions look terrible in VS Code after applying"
**Versions**:

- `prettier-eslint` version: the one shipped in `prettier-eslint-vscode` for VS Code
- `node` version: 6.9.2
- `npm` (or `yarn`) version: 3.x.x

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

No

**Relevant code or config**

[code]

**What I did:**

Pressed the keyboard shortcut to apply prettier-eslin

[2017-06-30 13:54] kentcdodds commented on #100
Hi! This is very strange! Please follow the debugging tips and let me know what your find 👍

[2017-07-01 15:33] jitendravyas opened #101 "If eslint can auto fix/format code why to use Prettier?"
I didn't get this part

What does it mean "prettier is a more powerful automatic formatter" ?

[2017-07-03 06:57] wbern commented on #100
@kentcdodds The issue lies with the vs code extension I found. See https://github.com/RobinMalfait/prettier-eslint-code/issues/27

[2017-07-03 13:44] kentcdodds commented on #100
Thanks for digging 👍

I'll close this issue then!

[2017-07-03 13:44] #100 closed

[2017-07-04 16:02] evanzhoe opened #103 "Format on save does not work well with comments more than Print Width"
Hi,

Comments made are automatically in moved to a new line but without //.
I hope there could be a fix for that!
Thanks!

[2017-07-04 16:15] #103 closed

[2017-07-04 16:15] evanzhoe commented on #103
I realized that I can't comment in React JSX. Sorry my bad!

[2017-07-04 21:07] #97 closed

[2017-07-05 21:34] kentcdodds commented on #101
Take this code and format it with eslint alone, then format it with prettier:

[code]

ESLint will just give you a warning that it's too wide (depending on your `max-len` setting, which I set at `80`). [prettier will format it](https://prettier.io/playground/#%7B%22content%22%3A%22foo(reallyLongArg()%2C%20omgSoManyParameters()%2C%20IShouldRefactorThis()%2C%20isThereSeriouslyAnotherOne()%2C%20noWay

[2017-07-05 21:34] #101 closed

[2017-07-05 21:55] jitendravyas commented on #101
Ok but then What does Prettier-ESlint do which people can't achieve by installing and setup Prettier and ESLint separately?

[2017-07-05 22:04] kentcdodds commented on #101
1. Sets the prettier options for you based on your eslint config
2. Gives you an integrated experience (as opposed to [this](https://github.com/AtomLinter/linter-eslint/issues/781#issuecomment-272243594))
3. You are now free to do: `prettier-eslint "**/*.js"` and it will respect your `.eslintignore` (which you can't do with regular `prettier` by itself.

[2017-07-06 02:55] zyy7259 opened #105 "`comma-dangle` "off" with object option is not working properly."
**Versions**:

- `prettier-eslint` version: 4.1.1
- `node` version: v8.1.2
- `npm` (or `yarn`) version: npm 5.0.4

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**

**What happened:**

**Reproduction repository:**

git@github.com:zyy7259/prettier-foo.git

**Prob

[2017-07-06 02:59] kentcdodds commented on #105
Thanks for the detailed issue! It's unlikely I'll have time to dedicate to hunting down the core issue. If you could do a little more digging and propose a solution that would be helpful. Thanks!

[2017-07-06 05:17] jitendravyas commented on #101
We use `"maxlen": 200`

[2017-07-06 08:39] jitendravyas opened #106 "Can I override prettier way of formatting with Prettier-ESlint?"
Prettier format the code in specific ways, I like some but not all formatting in all cases.

With help of this tool can I change that formatting and auto-fix too with ESLint overrides?

[2017-07-06 13:27] Flavien-Pensato opened #107 "Dots files ignored"
**Versions**:

- `prettier-eslint` version: 3.4.2
- `node` version: v7.10.0
- `yarn` version: v0.23.0

**Relevant code or config**

[code]

**What I did:**

prettier-eslint --write .pygrc.js

**What happened:**

No single quote appear.

**Problem description:**

I know that with eslint we have to use `--ignore-pattern '!.pygrc.js'` because by default he is ignoring dot files.

But with prettier-es

[2017-07-06 13:57] kentcdodds commented on #106
Yes, eslint formatting runs after prettier, so you could add plugins which format it the way you like. If they don't exist, you could [write one](https://youtu.be/CFQBHy8RCpg)

[2017-07-06 13:57] #106 closed

[2017-07-11 15:50] arb opened #109 "Extends Options"
**Versions**:

- `prettier-eslint` version: 6.4.2
- `node` version: 7.6.0
- `npm` (or `yarn`) version: 4.4.1

**Problem description:**

How do I extend this eslint configuration? I want to be able to add an .eslitrc.json file that says something like

[code]

Visual Studio complains that this config can't be found and I agree, I don't see an .eslint file anywhere I can extend.

[2017-07-11 16:16] kentcdodds commented on #109
Hi @arb,
`prettier-eslint` is not an eslint config you can extend. It's a tool that integrates prettier and eslint together. If you are looking for a config, try [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier).

Good luck!

[2017-07-11 16:16] #109 closed

[2017-07-11 20:31] zimme opened #110 "Support prettier config file"
Hey,

Now that prettier/prettier#2434 is merged, would we need to do anything in this package to support prettier's config file?

[2017-07-11 20:32] zimme commented on #110
I guess we would need to not send in prettier options if we detect any of the valid configuration files?

[2017-07-11 20:33] kentcdodds commented on #110
Hmmm... Interesting! I hadn't noticed this! Does prettier's node API search for the config? I'd definitely prefer to avoid looking for it ourselves if prettier can find it for us.

[2017-07-11 20:34] zimme commented on #110
Prettier uses `cosmiconfig` to find the configuration files.

[2017-07-11 20:41] zimme commented on #110
They seem to be exporting a `resoveConfig` function which sets `preocess.exitCode = 2` on error resolving the config. So I guess that could be used to check if there is a config file in the project?

[2017-07-11 20:42] zimme commented on #110
Also this isn't released yet, but as the PR was merged now I thought it was a good time to start talking about what's needed over here to get it working once it's released =)

[2017-07-11 20:42] kentcdodds commented on #110
Sounds good. Thanks for looking into this and bringing it up! Could you make a PR?

[2017-07-11 20:44] zimme commented on #110
I don't think I'll have time do put together a PR until August, homestretch at work before my vacation coming up on Friday.

But if it hasn't been resolved and I have time to spare, I'll try and put a PR together.

[2017-07-11 20:47] kentcdodds commented on #110
Cool, I'll tweet about it and we'll see if anyone else is interested.

Anyone else: If you're interested, just comment here when you're ready to start working on it. Thanks!

[2017-07-12 05:42] NamPNQ commented on #110
I think I can take care this issue

[2017-07-12 05:44] kentcdodds commented on #110
Awesome!

[2017-07-16 23:53] sorioinc opened #112 "Can't make the gulp wrapper to run successfully."
Hello,

I was trying to use the gulp sample but can't make it work. I get this error: `TypeError: Cannot read property 'logLevel' of undefined`. Even if I send an empty options object (for it to find the default log level):
[code]
It shows another error: `TypeError: path must be a string or Buffer`. What I'm I doing wrong?

[2017-07-17 17:09] kentcdodds commented on #112
I haven't used gulp in quite a while, but I'm pretty sure whatever you put into `pipe` needs to be a function that accepts a stream or something. In any case `prettier-eslint` doesn't directly support `gulp`, but you might take inspiration from [`gulp-prettier`](https://github.com/bhargavrpatel/gulp-prettier/blob/master/index.js). You can pretty much copy that and swap `require('prettier')` with `

[2017-07-17 17:09] kentcdodds commented on #112
Good luck! :smile:

[2017-07-17 17:09] #112 closed

[2017-07-17 21:17] bertho-zero opened #113 "Errors while integration: no-confusing-arrow & max-len with react and {' '} space before a tag"
**Versions**:

- `prettier-eslint` version: 4.1.1
- `node` version: 8.0.0
- `npm` version: 4.6.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**What I did:**

After I lauchend `./node_modules/.bin/eslint --print-config .eslintrc.js | ./node_modules/.bin/prettier-eslint --trailing-comma none --write ./src/**/*

[2017-07-17 22:22] kentcdodds commented on #113
Your glob is expanded before it's given to prettier-eslint, please put it in quotes! Bash does funny things sometimes.

The reason for the `{' '}` is coming from prettier. In some situations it adds that to make the implicit space more explicit. You can play around with things more [here](https://prettier.io/).

Good luck!

[2017-07-17 22:22] #113 closed

[2017-07-18 12:21] bertho-zero commented on #113
No, my glob is expanded by prettier-eslint, I have created an example here: [max-len example](https://prettier.io/playground/#%7B%22content%22%3A%22hello(%5C%22world%5C%22)%3B%5Cn%5Cn%5B%5Cn%20%20%5C%22lorem%5C%22%2C%5Cn%20%20%5C%22ipsum%5C%22%2C%5Cn%20%20%5C%22dolor%5C%22%2C%5Cn%20%20sit(%5C%22amet%5C%22)%2C%5Cn%20%20consectetur%5B%5C%22adipiscing%5C%22%5D%20%2B%20%5C%22elit%5C%22%5Cn%5D.reduce((

[2017-07-18 18:51] kentcdodds commented on #113
That's just the way prettier formats stuff. Nothing you can do about that unless you [write a custom ESLint rule](https://medium.com/@kentcdodds/fd6dd8076e26) that autofixes that.

Hmmm... Well that's weird. If you could dig a little more to find the issue and suggest a solution that's welcome.

As for the `{' '}` that's added it's because when you add a line break between text and jsx, the only w

[2017-07-18 19:18] bertho-zero commented on #113
I added `"max-len": ["error", 120]` in my .eslintrc.

But [here](https://prettier.io/playground/#%7B%22content%22%3A%22import%20React%2C%20%7B%20Component%20%7D%20from%20'react'%3B%5Cnimport%20PropTypes%20from%20'prop-types'%3B%5Cnimport%20Helmet%20from%20'react-helmet'%3B%5Cnimport%20%7B%20connect%20%7D%20from%20'react-redux'%3B%5Cnimport%20*%20as%20widgetActions%20from%20'redux%2Fmodules%2Fwidge

[2017-07-18 19:54] bertho-zero commented on #113
A more minimalist example [here](https://prettier.io/playground/#%7B%22content%22%3A%22import%20React%2C%20%7B%20Component%20%7D%20from%20'react'%3B%5Cn%5Cnexport%20default%20class%20Widgets%20extends%20Component%20%7B%5Cn%5Cn%20%20render()%20%7B%5Cn%20%20%20%20%5Cn%20%20%20%20return%20(%5Cn%20%20%20%20%20%20%3Cdiv%20%2F*%20...%20*%2F%3E%5Cn%20%20%20%20%20%20%20%20%7B%2F*%20...%20*%2F%7D%5Cn%20%20

[2017-07-18 23:28] kentcdodds commented on #113
Gotcha. That actually looks like a bug with prettier. Could you file it there?

[2017-07-18 23:29] kentcdodds commented on #113
You should probably also know about [this issue](https://github.com/prettier/prettier-eslint/issues/66)

My recommendation is you disable the `max-len` rule in eslint and just rely on prettier to make everything a reasonable length for you.

[2017-07-26 16:50] Dianna commented on #88
I had the same issue as @bstro.  Are the CLI and editor plugins essential for running prettier-eslint? Can it be run independently? If so how? The example doesn't present an even relatively realistic use case. If not, that should be made clear.

[2017-07-26 16:53] kentcdodds commented on #88
For most use-cases yes. This package is for programmatically formatting a string of code. If you want to implement it in your project you should look at the CLI and editor plugins. I'm not sure how to make that more clear, but if either of you would like to [make a pull request](http://makeapullrequest.com) you're definitely welcome to do so.

I'm going to go ahead and close this issue though beca

[2017-07-26 16:53] #88 closed

[2017-07-31 08:11] sorioinc commented on #112
Thanks for the suggestion @kentcdodds, I created a fork of `gulp-prettier`. Maybe it can be useful to someone else. [gulp-prettier-eslint]:https://www.npmjs.com/package/gulp-prettier-eslint

[2017-07-31 12:26] kentcdodds commented on #112
Cool! Thanks!

[2017-07-31 12:26] kentcdodds commented on #112
Actually, would you like to add a link to this in the README?

[2017-07-31 18:49] dbpolito commented on #94
Yes it does, but for some reason it's not following the settings on `.eslint.json`, it's using default `Prettier` settings.

If i save on a `.js` file, `.eslint.json` is used, but on a `.vue` file, `.eslint.json` is being ignored.

[2017-07-31 21:17] Nargonath commented on #55
Had a PR been made for this? I have something similar to the problem but I can't pine point the exact source of the problem yet so I'm just chasing potentially related github issues. Sorry for bringing back to life an old issue. :)

[2017-08-01 08:30] briandipalma commented on #55
@Nargonath Yes see this commit https://github.com/prettier/prettier-eslint/commit/d9d79af214e58d4bdedc0d0532c7566515ac7682

[2017-08-05 10:00] charlike commented on #110
The most correct thing is to do nothing. This jobs should be done in prettier itself automagically. If currently not working (didn't tried it) it probably because they uses the resolving only in the CLI part of the whole package, not in the API/main function or etc, which is the correct move. Btw, didn't even look their code, hm... yea didn't have time last months.

[2017-08-08 18:22] yokodev commented on #101
After the fork and all the possible solutions ... I'm confused... I'm trying to install this for Atom what packages I need in order to get the ESlint like red warnings, etc in Atom,?
1) What packages do I need to install in my project?
2) what packages I need in atom
3) what is the default .eslintrc for developing in react/JSX  and standard or airbnb ?
Thanks

[2017-08-10 19:21] cspanring commented on #105
The short answer is, that this issue can be resolved by changing the line https://github.com/prettier/prettier-eslint/blob/master/src/utils.js#L211 with

[code]

...giving the destructured object a default value. (made that change but the` jest --coverage` kept failing and I'm not familiar with the underlying test suites and how to quickly fix the coverage test, but happy to dig through that if yo

[2017-08-10 20:49] kentcdodds commented on #105
Happy to accept a [pull request](http://makeapullrequest.com/) :smile:

[2017-08-18 16:34] zimme commented on #92
Should this package really support `tslint`? Wouldn't it be better to have a separate package `prettier-tslint` for that`. What I could see this package support is `eslint` with [`typescript-eslint-parser`](https://github.com/eslint/typescript-eslint-parser), now that prettier supports typescript.

[2017-08-18 16:43] kentcdodds commented on #92
Yeah, I'm in favor of that @zimme :+1:

[2017-08-18 16:45] zimme commented on #92
Having `prettier-eslint` and `prettier-tslint` as separate package would hopefully keep the complexity down a bit, and and nothing is stopping the maintainers from working together where it makes sense. Some logic might be sharable with a common package?

[2017-08-18 16:51] kentcdodds commented on #92
To be quite honest, I'm only barely hanging onto this package myself. I've got a lot of things pulling at my time, so if someone wanted to help collaborate on a tslint version of this package, I'm afraid that I couldn't do much by way of support there. Would love it if someone else wanted to join in and help maintain things...

[2017-08-18 16:56] zimme commented on #92
I'm spread quite thin myself, I am however starting on a project using typescript and are looking into how to use prettier and tslint together and if I don't find a better way I'll probably be open to give `prettier-tslint` a shoot. Other than that I'm using this package in quite a few projects and I've become a bit familiar with the codebase so I could try and help out a bit.

[2017-08-27 16:17] darahak opened #115 "Using prettier.formatWithCursor for editor integration"
For https://github.com/prettier/prettier-atom/issues/34, we would like to use the new `prettier.formatWithCursor` function.

The thing is, `prettier.formatWithCursor` returns a `{ formatted: String, cursorOffset: Number }`.
`prettier-eslint` exports a single function that returns a string, so I'm not sure how to integrate it without breaking anything.

How would you do it?

[2017-08-28 15:29] kentcdodds commented on #115
Wow! That's a _very_ cool feature!! Unfortunately I don't think that eslint provides anything to allow us to do this. So I think that unless ESLint is updated to allow for an API like this we wont be able to expose this kind of API :(

[2017-08-28 15:29] #115 closed

[2017-08-28 16:18] darahak commented on #115
My bad, I focused on the Prettier part and totally forgot ESLint doesn't have that kind of API :man_facepalming:

[2017-08-28 16:49] donovanhiland opened #116 "Prettier eslint output conflicting with eslint rule"
**Versions**:

- `prettier-eslint` version: 6.4.2
- `node` version: 8.1.4
- `npm` (or `yarn`) version: 5.3.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**
ran `prettier-eslint` from the cli on the file

**What happened:**
Code formatted in a way that introdu

[2017-08-28 17:09] kentcdodds commented on #116
Hmmm... Maybe try uninstalling and reinstalling so you get the latest version of `prettier`. There were some significant changes in 1.6.0 of prettier just an hour ago...

[2017-08-28 19:58] donovanhiland commented on #116
Thanks! Tried uninstalling/reinstalling and looks like the same thing is happening. Is there anything I can provide that would be more useful? 😄

[2017-08-28 20:07] kentcdodds commented on #116
So, to be clear, the `prettier` step gives code that passes ESLint, and the `eslint --fix` step gives code that does not pass ESLint?

[2017-08-28 20:16] donovanhiland commented on #116
`prettier` output throws ESlint error from `react/jsx-max-props-per-line`. `eslint --fix` tries to fix it, but in doing so it creates another error.

[2017-08-28 20:19] kentcdodds commented on #116
Ah, I highly recommend disabling that rule. I used to enable it but decided against it because the whole reason I had that rule was to avoid my lines getting too long, but now that I have prettier I don't worry about that anymore.

If you come up with anything to fix this then feel free, but I wont be working on it personally ([no time](http://kcd.im/no-time)). Sorry, and good luck!

[2017-08-28 20:19] #116 closed

[2017-08-29 14:50] arpowers commented on #94
need this feature as well +1

[2017-08-29 15:07] kentcdodds commented on #94
Sweet @arpowers! Would you like to [work on implementing it](http://makeapullrequest.com/)? I don't need it so I will not be working on it personally.

[2017-08-30 14:19] zimme commented on #110
Closing this in favour of #114.

[2017-08-30 14:19] #110 closed

[2017-08-30 14:32] kentcdodds opened #118 "Support settings"
Moving this from https://github.com/prettier/prettier-atom/issues/242

So here's a proposal. I think that this would actually be a change in prettier-eslint rather than prettier-atom... We could add a property in the `settings` of your eslint config to do this. For example:

[code]

The `prettier-eslint` property would effectively be an eslint config that would override the rest of your config. I'

[2017-08-31 07:24] zimme commented on #118
Just wanted to bring in part of robwise's comment from the related atom-prettier issue.

[2017-09-03 16:05] kobenauf opened #122 "Class properties quit working in 6.4.3"
**Versions**:

- `prettier-eslint` version: 6.4.3
- `node` version: 8.4.0
- `npm` (or `yarn`) version: yarn 0.27.5

**Relevant code or config**

[code]

**What I did:**
Upgraded from prettier-eslint 6.4.2 to 6.4.3.

**What happened:**

All class properties started triggering the `no-undef` eslint rule.  Prior to this upgrade they worked.

[2017-09-03 16:22] zimme commented on #122
I'm thinking this is an eslint error, that update only updated dependencies, eslint 3 to eslint 4, amd prettier 1.5 to 1.6

[2017-09-03 17:27] zimme commented on #92
Since v7.1.0 this package support ts files using prettier nd eslint with typescript-eslint-parser. #121

[2017-09-12 11:43] FezVrasta opened #124 "TypeError: prettier.resolveConfig.sync is not a function"
**Versions**:

- `prettier-eslint` version: 4.3.2
- `node` version: 8.4.0
- `yarn` version: 1.0.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**

[code]

**What happened:**

[code]

**Problem description:**

When `prettier-eslint` tries to format the file I p

[2017-09-12 11:49] #124 closed

[2017-09-12 11:49] FezVrasta commented on #124
https://github.com/prettier/prettier-eslint-cli/issues/105

[2017-09-27 15:33] zimme commented on #5
The whole purpose of the tool is to automatically format your files. Running through prettier first and then eslint with `--fix`.

If you only want lint errors printed then using eslint with eslint-plugin-prettier will give you linting errors based on prettier too.

[2017-09-27 15:53] theTechie commented on #5
@zimme - sorry for not being very clear. I lost my point after rephrasing a previous question :-)

I was thinking about providing an option to pick the rules which can be autofixed (even if it can be autofixed by eslint). Basically, having an option to get errors on some and autofix some.

Not sure if eslint already supports something similar ?

[2017-09-27 16:38] kentcdodds commented on #5
I think this would be covered by: https://github.com/prettier/prettier-eslint/issues/118

Want to move discussion to that?

[2017-09-27 16:44] zimme commented on #118
Can't you just use `eslint-config-prettier` which disables all eslint rules that conflicts with prettier?

[2017-10-02 16:21] cbranch101 commented on #89
I think this might still be an issue,  In the debug messages, I'm seeing the built in eslint config from CRA, but none of my custom rules.  It works if I use a standard eslintrc file, but but not if its a JS file

[2017-10-02 17:07] cbranch101 commented on #89
Nevermind, I hadn't installed the right packages in the project, we're good

[2017-10-11 12:04] bennyn commented on #101
@kentcdodds Thanks for giving this example! Do you have some more precise examples where Prettier is superior to ESLint? There is a discussion to use Prettier within the [Bootstrap](https://github.com/twbs/bootstrap) project and we are looking for pros and cons: https://github.com/twbs/bootstrap/pull/24323

[2017-10-11 14:08] kentcdodds commented on #101
I suggest you try it on a less important project for a day and you'll be hooked. It's hard to explain, easy to try.

[2017-10-11 15:05] bennyn commented on #101
@kentcdodds I have been using it in a smaller project of mine and I got quite unhappy with it (https://github.com/prettier/prettier/issues/2716#issuecomment-335799469). That's why I am looking for facts why Prettier is better than ESLint (or should be combined with ESLint) because maybe I am seeing it from the wrong perspective.

[2017-10-11 19:51] zimme commented on #101
tbh, I don't see prettier being better than eslint. I use both in my projects. That's why I'm using this package. Format my code with `prettier` first, then run it through `eslint --fix` using `eslint-plugin-prettier` and `eslint-config-prettier`. This way I get the best of both. Also if I need to in a specific project I can have my eslint config override `eslint-config-prettier` to override the s

[2017-10-12 08:33] bennyn commented on #101
@zimme Thanks for giving your input! 😃

Running Prettier in the first place and overriding it's configuration with ESLint sounds like a very good compromise. Do you have a public example on GitHub where you do it?

I would like to override Prettier's [breakup of 3 or more chained calls](https://github.com/prettier/prettier/pull/2673). For this purpose I am using [prettier-eslint-cli](https://githu

[2017-10-12 09:55] zimme commented on #101
@bennyn Weird, I've never run into that problem actually.

Anyhow, I'm not sure that eslint has a rule with a fix that would put chained calls on a single line if it finds chained calls in multiple lines.

I found this rule, https://eslint.org/docs/rules/newline-per-chained-call, which has a fix and can fix some of the errors.

I do believe that eslint --fix could fix that each chained call always

[2017-10-12 09:59] zimme opened #129 "Simplify the package"
Now that prettier has a config file and an ignorefile maybe we could make this package "simpler" by not trying to infer configuration?

I personally would have no problem with having to setup a prettier config and a eslint config file in my projects and have this package just read those.

Any thoughts?

[2017-10-12 10:05] bennyn commented on #101
This is also my experience. 😢

So I need to use an older version of Prettier, where this formatting rule hasn't been included. 😁 I will move the discussion to https://github.com/prettier/prettier-eslint-cli/issues/109.

Thanks for your help!

[2017-10-12 10:11] zimme commented on #101
I don't believe there is anything we can do with `prettier-eslint` to fix this for you. You'' have to open an issue with eslint to see if a fix for this could be added.

The only thing I believe `prettier-eslint` could do is set `prettier` and `eslint` as peer dependencies so people can use an older version of `prettier` or `eslint`. However this would add more complexity to this package which I'm

[2017-10-12 13:54] kentcdodds commented on #129
I'm no longer using this project so I'm not going to make the deciding vote, but I'd say one of the speaks of this project is the inference, so I would recommend against a change like this.

[2017-10-12 18:02] zimme commented on #92
Since we're supporting typescript now by using `typescript-eslint-parser`, the same parser `prettier` is using for it's typescript support, I'm closing this issue.

I don't feel that this package should support tslint, but it belongs in another package `prettier-tslint`. If enought people :-1: this comment I can think about reopening the issue.

[2017-10-12 18:02] #92 closed

[2017-10-12 18:17] zimme commented on #16
This is already supported, https://github.com/prettier/prettier-eslint-cli#cli-options. Please ping me if this needs to be reopened.

[2017-10-12 18:33] #16 closed

[2017-10-12 18:35] zimme commented on #54
I'm thinking we should just be able to read the eslint config from `prettier-eslint-cli` and forward that to `prettier-eslint` to make sure this package doesn't try and read the options from the config file. Thoughts?

[2017-10-12 18:37] kentcdodds commented on #54
Sounds fine

[2017-10-12 20:04] zimme commented on #54
So this wasn't as easy as I thought as eslint seem to only have an api to get the config for a file, and we're accepting globs in `prettier-eslint-cli`. Memoizing seems like the most viable option.

[2017-10-15 04:10] #5 closed

[2017-10-15 05:01] kentcdodds commented on #118
I don't need this anymore and it doesn't appear that anyone plans to work on this either...

[2017-10-15 05:01] #118 closed

[2017-10-15 13:35] azz commented on #92
`prettier-tslint` should definitely be a separate package. I've just started work on it here: https://github.com/azz/prettier-tslint

Super basic support is done. Given an input file it will:

* Run `prettier --write`
* Locate `tslint.json`
* Run `tslint --fix`

Currently there are some intermediary writes to disk but I'll be working to fix that soon.

[2017-10-18 15:49] bkniffler opened #133 "Move eslint dep to peerDeps or remove it"
Hey,
Putting eslint to the dependencies can cause issues (like for me, I'm trying to use eslint 4.9.0 but prettier-eslint interferes)
[code]

[2017-10-24 03:22] chemzqm opened #134 "no-semi option would add semicolons at the beginning of jsx tag name."
**Versions**:

- `prettier-eslint` version: 4.4.0
- `node` version: v8.5.0
- `npm` (or `yarn`) version: 5.3.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**

Use command `prettier-eslint \"components/**/*.js\" --write --jsx-bracket-same-line --no-semi --singl

[2017-10-24 08:09] azz commented on #134
This is intentional. See https://github.com/prettier/prettier/issues/1433 for rationale.

[2017-10-24 08:13] chemzqm commented on #134
Thanks, it looks stupid, but I'm ok with that now.

[2017-10-24 08:13] #134 closed

[2017-10-24 08:46] judewang commented on #133
I have the same issue, too. I have no idea why prettier-eslint broke my lint test, now I got it😱

[2017-10-24 09:52] Dimomir opened #135 "VS Code Integration Unclear"
Hi I was wondering if you could provide some clarification on integrating `prettier-eslint` with `VS Code`.

I can find Prettier on the [VS Code marketplace](https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode) where it states
[code]

However when I look through the README of `prettier-eslint` I don't seem to understand how I can integrate `prettier-eslint` into `VS Code`.

[2017-10-24 09:56] azz commented on #135
`"prettier.eslintIntegration": true` will tell `prettier-vscode` to use its bundled version of `prettier-eslint` to do the formatting, so you've found the right setting.

If you also set `"editor.formatOnSave": true`, then it will do exactly that.

Sure does!

[2017-10-24 10:00] Dimomir commented on #135
Hi @azz
thank you for your prompt response!

So to iterate, the steps to get Prettier-vscode extension working with prettier-eslint on VS Code are:

- install [Prettier VS code plugin](https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode)
- `npm install --save-dev prettier-eslint`
- Go into VS Code settings and set `"prettier.eslintIntegration": true`

Did I get this right?

[2017-10-24 10:18] azz commented on #135
The VS code plugin bundles it in so you don't need to install it, but yes.

[2017-10-24 11:23] Dimomir commented on #135
Thank you!
Apart from the above just for anyone else that might stumble upon this, I also included
`"editor.formatOnSave": true,` in my User Settings in VS Code and it all works 👌

Awesome work guys

[2017-10-24 11:23] #135 closed

[2017-10-31 15:52] zimme commented on #133
I believe we should have both eslint and prettier as peer dependencies, but I guess we need to lock it down to major versions at least.

[2017-11-04 14:46] alexpchin commented on #67
I also think this is happening.

[2017-11-07 15:07] zimme opened #136 "Markdown support"
[Prettier 1.8.0](https://github.com/prettier/prettier/releases/1.8.0) is out and Markdown is supported.

I guess it's time to add support for it in this package too.

[2017-11-07 15:35] zimme opened #137 "Use getSupportInfo from prettier"
Let's use `getSupportInfo` from prettier to make our logic simpler.

https://github.com/prettier/prettier/pull/3033

[2017-11-10 18:29] Robert-Frampton opened #138 "tabWidth is ignored when indent is set to tabs causing the max line length to be calculated incorrectly"
Code in question: https://github.com/prettier/prettier-eslint/blob/cc5f683e7a1a1e5aefce101b97a5e6430716843f/src/utils.js#L160-L165

Even when the `indent` property is set to "tabs", the `tabWidth` option is still used to calculate how long a line is.

This following line of code has 2 tabs,

[code]

If `tabWidth` is set to "2", the line length will be calculated as "22".

If `tabWidth` is set to "

[2017-11-13 17:27] kentcdodds opened #139 "I'm stepping down from the project."
Hey folks, so it's been a few months that I've not used this project anymore (I just use `prettier` now). So I will no longer be watching the repository and I'll also be removing the auto-release functionality. Someone else can set that up... on that note:

Who wants to take this project over? (I'll be doing the same for `prettier-eslint-cli`: https://github.com/prettier/prettier-eslint-cli/issues

[2017-11-13 17:30] kentcdodds commented on #139
If you want to maintain the project and have publish rights, give me your npm and github usernames and I'll hand it over to you. I'm afraid I [wont have time](http://kcd.im/no-time) to contribute or help out with this project any further. Good luck!

[2017-11-13 17:31] zimme commented on #139
I'll try and help out as much as possible. I'm hoping we can work close together with @azz and `prettier-tslint` to hopefully benefit from each other. My npm and GitHub usernames are the same `zimme`.

[2017-11-13 17:33] kentcdodds commented on #139
Awesome @zimme, I was hoping you'd say that! :tada:

[2017-11-13 17:33] kentcdodds commented on #139
I'll go ahead and close these issues on both repos and let you decide who you'd like to give publish rights/commit rights to now :+1:

[2017-11-13 17:33] #139 closed

[2017-11-13 17:37] zimme commented on #139
I don't know how much time I will have to put into this project, but as I am using it in a few projects I'd at least like to be able to fix bugs. I will happily split the responsibility with whom ever is interested in keeping the project maintained.

[2017-11-13 17:38] zimme commented on #139
@kentcdodds, Do you have any links to setting up the auto-release you had in place?

[2017-11-13 17:41] kentcdodds commented on #139
Yep! http://kcd.im/write-oss

You might also just try upgrading this project to use [`kcd-scripts`](https://github.com/kentcdodds/kcd-scripts), though it's not well documented...

Good luck!

[2017-11-13 17:42] jmenglis commented on #139
@zimme I can help out where I can.

[2017-11-13 17:43] kentcdodds commented on #139
Actually, I didn't actually remove any of the code/config that does the auto-release stuff. I just removed the `GH_TOKEN` and `NPM_TOKEN` environment variables from the travis settings. So if you want you could just update those to be your tokens and it should "just work" :+1:

[2017-11-13 17:44] zimme commented on #139
I'll set a side a few hours this weekend for the project, I should be able to make sure you have all the access/info you need then @jmenglis.

[2017-11-13 19:38] zimme commented on #133
I'm note sure if this is a dep vs peer dep problem or a dep versioning problem.

[2017-11-13 23:29] eqyiel commented on #139
Thanks for your time and work on this until now @kentcdodds!

[2017-11-15 15:57] michaelgmcd commented on #139
Thanks for the great work on this project @kentcdodds 👍

[2017-11-15 18:34] zimme commented on #122
I'm closing this as it's been inactive since September. @ping me if this is still an issue.

[2017-11-15 18:34] #122 closed

[2017-11-15 21:58] zimme commented on #133
I've read up a bit on peerDependencies. I don't believe this is a peerDependency problem at all, it's just a versioning mismatch problem.

`prettier-eslint` isn't using `prettier` or `eslint` in any way that would require you to include them in your project explicitly. They are used under the hood by `prettier-eslint`, and because of this there shouldn't be a need to have them as peerDependencies.

[2017-11-22 20:24] zimme commented on #137
Do `eslint` have something similar?

[2017-11-28 22:36] zimme commented on #67
I believe I've found the cause of this. Will look into it a bit more and see if I can get a fix out.

[2017-11-29 10:38] zimme commented on #137
I'm looking at a solution now that just forwards `text` to `prettier` with `filePath` if available to let prettier handle the file type detection and fall back to `babylon`. The only thing we should need to detect in this package is for which filetypes we should call `eslint`.

If this works as I'm thinking we should be able to lower the version number of `prettier` and maybe even `eslint`.

[2017-11-29 10:56] azz commented on #137
:+1:

[2017-11-29 20:35] janekkkk commented on #94
You can use this [workaround ](https://github.com/prettier/prettier/issues/2097) for now.

[2017-12-04 18:27] zimme commented on #67
Ok, I looked into this a bit more and I can't really find a bug here. I thought I found one but I was mistaken.

The way this works now is that even if a file is ignored in `.eslintignore` it will still be ran through `prettier`, however it should be ignored by `eslint`.

I will need a reprod to be able to fix this problem and I'll close this issue in a few weeks if I haven't gotten a reprod by th

[2017-12-05 10:55] octref opened #146 "Why babel-core is in dependencies?"
While upgrading from V6 to V8, I noticed yarn added a lot of deps because now you include babel-core as a deps instead of devDeps.

https://github.com/prettier/prettier-eslint/commit/d04c0a15f3d7a5b345135698268926300a4b9ea4

Any reason you have to do that, or can you move babel-core to devDeps?

@zimme

[2017-12-05 10:56] octref commented on #94
We have support for prettier-eslint in Vetur for a while: https://vuejs.github.io/vetur/formatting.html#prettier

[2017-12-05 10:56] zimme commented on #146
I was getting some errors with some of the updates. I'll have a look and see if there's another way around this.

[2017-12-05 11:14] zimme commented on #129
I've been thinking about refactoring the code for this package and I've started to do that in some small ways, however I've also seen packages like `prettier-tslint` and `prettier-stylelint` getting released which got me thinking about taking this in a bit of a different direction.

Today if I wanted to use `prettier-eslint` for `.js/.jsx` files, `prettier-tslint` for `.ts/.tsx` files and `prettie

[2017-12-05 11:54] azz commented on #129
prettier-tslint has no CLI options :)

It would be interesting to have a package that sits on top of:

* prettier-tslint or tslint + tslint-plugin-prettier
* prettier-eslint or eslint + eslint-plugin-prettier
* prettier-stylelint
* [prettylint] (https://github.com/ikatyang/prettylint) e.g. for markdown files

That way you could lint all files with one command, and potentially unify the output. Cur

[2017-12-05 12:23] #96 closed

[2017-12-05 15:53] kentcdodds commented on #129
Sounds like a pretty good solution to have a `prettier-plus` package or something which could consolidate all the packages into a cohesive package where you can enable integrations easily. Good luck!

[2017-12-05 19:04] zimme commented on #129
@azz I could see that work especially with `prettylint` in the picture.

With `prettylint` in the picture I don't even think we would have to use `eslint-plugin-prettier`/`tslint-plugin-prettier` as `prettylint` would pickup those linting errors/warnings.

I'm just wondering if such a package should provide all its dependencies or have them all as peer dependencies and apply the linters available.

[2017-12-05 19:08] zimme commented on #129
I just got a hold of the `@linter` scope. 📦

[2017-12-06 09:40] azz commented on #129
Did someone say tomorrow? 😉

[2017-12-06 18:01] zimme commented on #129
Maybe for core and cli, i'm thinking it would be "better" to have the linter-adapters in their own repos.

[2017-12-06 18:21] zimme commented on #129
I've started hacking on this at https://github.com/linterjs. Destroy me with your feedback 😄 p.s. Very early stages. I'll start outlining my thinking a bit more as documentation/readme over the weekend, but I do believe there is enough code now to get a sense of where I'm going.

[2017-12-06 22:33] azz commented on #129
Looking good. Need to come up with a normalized output format similar to eslint results.

I made one for Prettier!
https://github.com/azz/linter-prettier

[2017-12-07 09:08] azz commented on #129
Also opened a discussion here: https://github.com/linterjs/core/issues/1

[2017-12-09 00:21] cancerberoSgx opened #148 "given .eslintrc in filePath is not the only one considered - but also current and user folder's"
around line 224 of index.js you are calling `const config = configFinder.getConfigForFile(filePath);` which ends up calling eslint/lib/config.js#getConfig() method

What I can see is that this method will compute the configuration not only using the given config file but also the current project config file, user's config and probably other .eslintrc in the system.

In my case the manifested bug i

[2017-12-09 06:05] cancerberoSgx opened #149 "not respecting es6 prefer-* rules like prefer-arrow-callback."
I'm reporting this issue in the form of a very simple node.js project that demonstrate it. basically prettier-eslint is not respecting  "prefer-arrow-callback": "error" and more - it seems it it removing or preventing eslint to do it. In the project I'm calling prettier and eslint --fix separately and that works OK but with prettier-eslint it doesn't . It also happens with other es6 "prefer" fixab

[2017-12-12 02:07] zimme opened #151 "Infer jsxBracketSameLine from react/jsx-closing-bracket-location eslint config"
Seems like this is the rule to infer jsxBracketSameLine from, now that initial support for it has been added.

https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-closing-bracket-location.md

/cc @alexmckenley

[2017-12-12 19:54] cancerberoSgx commented on #149
BTW, this is my poor man's prettier-eslint implementation:

[code]

[2017-12-12 20:02] zimme commented on #149
I'm just wondering if this is related to the following issue.
https://github.com/prettier/eslint-plugin-prettier/issues/65

[2017-12-12 20:44] cancerberoSgx commented on #149
https://prettier.io/docs/en/eslint.html - says:

It is not a prettier-eslint dependency but if I do npm install I see the module installed in node_modules so I guess is an indirect dependency. Probably is this... Unfortunately I don't have much time to investigate - and I have more or less resolved my problem.

[2017-12-12 20:44] zimme commented on #148
I've seen that there is some unexpected behaviour when it comes to the ordering of config override, but I haven't had time to look into it in depth yet.

My initial thoughts on this is that I don't really see the behaviour about finding a config up the chain of folders, etc. being something that I'll change as we're using eslint's getConfig functionality and the same goes for prettier. However the

[2017-12-12 20:47] zimme commented on #149
Well, I don't think that what they are talking about is a problem with the plugin package but about that prettier and eslint have conflicting fixes for prefer-arrow-callbacks and that's the problem they want to solve by disabling the eslint rule in the plugin/config package.

I'll look into this a bit later.

[2017-12-12 20:53] cancerberoSgx commented on #148
OK, I agree that the better approach is to use eslint apis . This is more a heads up for you. Imagine I have a .eslintrc in the local folder or in my user's folder and I'm using prettier-eslint to format a file targeting different eslint-config files just to see how the style looks like. In that case, the behavior I'm seeing is that if the target eslint dont define a rule it will inherith durrect/

[2017-12-12 23:27] #105 closed

[2017-12-12 23:27] #151 closed

[2017-12-13 00:00] #146 closed

[2017-12-14 13:00] yannickschuchmann commented on #93
Hey, @kentcdodds,
When running `prettier --list-different --write` it formats all files **and** prints all paths of prettified files.

Unfortunately prettier-eslint behaves differently.
[code]

A **use case** would be integrating the formatting to [lintstaged](https://github.com/okonet/lint-staged#installation-and-setup).
E.g.:
[code]

Here lintstaged is expecting a list of pathnames to pass it al

[2017-12-19 21:01] zimme commented on #137
Merged in #145.

Hmm, I'll look into lowering the version of prettier, as we don't really use any fancy api calls any more. :smile:

[2017-12-19 21:01] zimme commented on #136
Should be supported with `8.4.0`.

[2017-12-19 21:01] #136 closed

[2017-12-19 21:03] zimme commented on #129
With #145, some of my concerns have been addressed so I'm closing this.

[2017-12-19 21:03] #129 closed

[2017-12-19 21:04] zimme commented on #107
@Flavien-Pensato Can you confirm that this is still an issue with the latest version?

[2017-12-19 21:11] zimme commented on #94
I hope this will be easier to implement/get working now that `8.4.0` is out.

We now forward `text` and `filePath` to prettier and let it figure out if it can fix the `text`. `eslint` only runs if there's no `filePath` provided or if `filePath` is provided, the extension of `filePath` must match `eslint`s extensions configuration.

[2017-12-20 01:35] zimme commented on #37
If we infer from `eslint-plugin-prettier` I do think that `prettier` configuration in `prettier/prettier` should be used and the options not present in this rules' config should be inferred from the other rules.

This basically means that all functions that resolves an `eslint` option to a `prettier` option needs to look at `prettier/prettier` first, unless i can do this check before this logic ru

[2017-12-21 21:24] zimme commented on #137
Closing this now as it's fixed with version 8.4.0 and 8.5.0.

[2017-12-21 21:24] #137 closed

[2017-12-21 21:26] zimme commented on #148
From what I can tell, this is working as expected and I'm relying on `eslint`s api for getting the config and can't affect this in some way in this package without writing my own logic for resolving the config, which isn't an option.

Closing this as it's not really a but, but I'm open for further discussion if it's needed.

[2017-12-21 21:29] zimme commented on #148
Actually, I'm re-opening this.

What I've thought about and probably will do in a new major version is change the config merging when `eslintConfig` is provided as an option. i.e. you specify which eslintConfig you want to use.

I need to think about this a bit more, it's kinda related to using this package in editor integrations and in the cli.

[2017-12-21 21:31] zimme commented on #133
I don't see a reason to move either `prettier´ or `eslint` to `peerDependencies´.

Unless someone can give me a fully motivated reason for doing this I don't see this happening.

[2017-12-21 21:31] #133 closed

[2017-12-21 21:36] zimme commented on #54
I'm looking into a different way of doing config resolving and merging which will involve the consumers of our api a bit more in the config decision process.

With this, I'm hoping that I can just use the given configs and only try and resolve configs when configs aren't provided in the api calls.

[2017-12-22 02:36] zimme commented on #37
Ability to infer prettier config from `eslint-plugin-prettier`s `prettier/prettier` rule is supported since 5bd3684f0eada883c1a9552e65d3ccfdee8afc09 and is release with 8.6.0.

[2017-12-22 02:36] #37 closed

[2017-12-22 02:40] zimme commented on #107
Then problem here was that you were using `eslint-plugin-prettier`s `prettier/prettier` rule to configure prettier, which `prettier-eslint` didn't have support for inferring prettier config from.

This is now released in version 8.6.0.

I'm closing this as your example should be working with the latest version.

[2017-12-22 02:40] #107 closed

[2017-12-26 22:22] natelaws opened #154 "Latest release unable run with older versions of node"
**Versions**:

- `prettier-eslint` version: 8.6.0
- `node` version: 6.11.3
- `npm` (or `yarn`) version: 3.10.10

**What happened:**

With version 8.6.0 an Object.entries() call was added which does not exist in older version of node.

**Suggested solution:**

Probably the same thing as https://github.com/prettier/prettier-eslint-cli/issues/122

[2017-12-26 22:36] #154 closed

[2017-12-26 22:37] zimme commented on #154
I thought `babel-preset-env` would have picked this up, but turns out it didn't.

Anyways, fix should be published with `8.6.1`

[2017-12-26 22:44] zimme commented on #154
Version `8.6.2` should fix this properly, forgot to add `babel-runtime` to the dependencies.

[2017-12-27 00:07] azz commented on #94
In the next release Prettier will support printing JS and CSS in `.vue` files out-of-the-box! 💥

[2017-12-27 07:15] zimme commented on #94
If you're using version `8.4.0` or later of `prettier-eslint`, prettier should run on `.vue` files, however you will need to configure `eslint` to handle `.vue` files. I believe there's `eslint-plugin-html` and `eslint-plugin-script-tags` to handle running `eslint` on code in `<script> tags.

[2017-12-28 00:26] joaomilho commented on #54
FYI, here's some stats from a project I'm running:

[code]

Any improvement to prettier would give substantial gains. LMK how can I help.

[2017-12-28 08:37] zimme commented on #54
I recently added functionality to filter out all rules that aren't marked as fixable before I hand `eslint` the rules. We should probably filter out `prettier/prettier` here too, as we have already run `prettier` before `eslint`, or will run `prettier` after `eslint` depending on `prettierLast`.

[2017-12-28 08:43] zimme commented on #54
I've made the change and it will be out in `8.7.0`, could you try again with the latest version @joaomilho?

[2018-01-02 12:23] James2516 opened #155 "String concatenation not auto converted to template with eslint integration"
**Versions**:

- `prettier-eslint` version: 8.3.1
- `node` version: 8.6.0
- `npm` (or `yarn`) version: yarn 1.3.2

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes
**Relevant code or config**

[code]

.prettierrc:
[code]

**What I did:**

![](https://i.imgur.com/l0vxjBI.png)

**What happened:**

I have eslint integ

[2018-01-02 13:54] westmark commented on #148
@zimme Could this be related to https://github.com/prettier/prettier-atom/issues/334 ?

[2018-01-02 14:02] zimme commented on #148
Yes, they are related. But it's because of the way we handle provided configuration and merge that with configuration we read from file.

I've been thinking about changing this behaviour, but it's a breaking change so before we make that change I need to make sure the "new" solution can handle all the use cases otherwise the change seems unnecessary.

[2018-01-07 04:21] robwise opened #156 "Possible Regression or Major Change?"
Hey there, I'm getting a bunch of conflicting reports on the prettier-atom repo about people's prettier-eslint all the sudden not respecting their config: https://github.com/prettier/prettier-atom/issues/334#issuecomment-354759861

Was there a breaking change or possibly a regression somewhere in the 8.5.0 release? These reports started coming in when I bumped the bundled version that comes with p

[2018-01-07 06:29] azz commented on #156
Just a guess:

https://github.com/prettier/prettier-eslint/commit/5bd3684

[2018-01-07 10:20] zimme commented on #156
I'll look into it today.

[2018-01-08 00:14] zimme commented on #156
Closing with this message.
https://github.com/prettier/prettier-atom/issues/334#issuecomment-355864770

Ping me if this doesn't resolve the issue.

[2018-01-08 14:12] corysimmons opened #157 "Fallback to global ~/.eslintrc?"
This is how all ESLint stuff works. Why is Prettier opinionated in this?

I don't want to have to `npm install prettier-eslint` and configure a project-specific `eslintConfig` every time I'm tinkering on something, but I'd still like to use Prettier.

[2018-01-08 15:34] zimme commented on #156
It seems 8.7.0 wasn't the problem. However there was a problem there.

[2018-01-09 20:52] ncknuna commented on #156
@zimme I just ran into this and debugged a bit. I think it's actually https://github.com/prettier/prettier-eslint/commit/bed4374ef1f86275cbb6210a49013bf73ff126f7#diff-2b4ca49d4bb0a774c4d4c1672d7aa781, which adds this line:
[code]
but AFAICT, Linter's constructor doesn't take any arguments (https://github.com/eslint/eslint/blob/88d5d4dbd09dd7f23e9fff79087bc13adaac051b/lib/linter.js#L710), which mea

[2018-01-09 21:08] zimme commented on #156
@ncknuna, Thank you for looking into this.

It seems that you are correct in the fact that `Linter` does not accept an argument. Which I will remove as it's not needed.

However, even if I do remove the parameter to `Linter` the code will still work the same way as `new Linter().getRules()` will give me the same set of rules, i.e. all rules eslint can find from its own set of default rules and all

[2018-01-09 21:24] zimme commented on #156
Is there a chance that there are fixable rules that doesn't have this meta property set?

[2018-01-09 22:00] ncknuna commented on #156
@zimme, you're right that if you remove that parameter to Linter that the code will work the same, but at least from my inspection of the logic behind the `Linter` constructor and the `getRules` call, doing `new Linter().getRules()` won't load any plugins, which is the real problem. In other words, I don't think the second part of your statement `i.e. all rules eslint can find from its own set of

[2018-01-10 00:07] noisysocks commented on #156
I'm encountering this issue as well.

In my debugging, I noticed that one of my rules that's defined by a plugin does not appear in the array produced by `getFixableRules()`. This causes `prettier-eslint` to omit it from the relevant rules and not apply the fix. You can see [here](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-curly-spacing.js#L34) that the rule definit

[2018-01-10 09:35] zimme commented on #156
That's a nice catch @ncknuna and @noisysocks, I hope to have a fix out today. eslint 4.15.0 was released just a few days ago and that version should have `getRules` on `CLIEngine` which we could use to fix this.

[2018-01-10 20:13] #156 closed

[2018-01-10 21:55] ncknuna commented on #156
@zimme I think the options that the Linter expect are different than the options that the CLIEngine expect, so one isn't just a drop-in replacement for the other. After updating to the newest version, I got the following error:
[code]

[2018-01-10 22:00] zimme commented on #156
Aah yeah, it's that problem again. The `globals` option needs to be an array as that's what's expected in `CLIEngine` and there's been a comment about this. I do believe this needs to be fixed in `prettier-eslint-cli`.

[2018-01-10 22:46] zimme commented on #156
@ncknuna, check if the latest version fixes your issue.

[2018-01-10 23:08] ncknuna commented on #156
@zimme Getting there! That latest version does fix my issue, but still doesn't include the rules from plugins. It seems that this `getConfigForFile` call is what actually loads the plugins in the other place that CLIEngine is used (https://github.com/prettier/prettier-eslint/blob/master/src/index.js#L230), which I determined by sticking a debugger statement before that line and checking `cliEngine

[2018-01-10 23:14] zimme commented on #156
I think I'll just memoize `getESLintCLIEngine` based on the first parameter.

[2018-01-10 23:17] ncknuna commented on #156
Go for it! I don't have a strong preference on implementation details, I just want my plugin rules! :)

[2018-01-11 17:52] ncknuna commented on #156
@zimme Any updates? Hoping to get this all sorted out by end of week :)

[2018-01-11 17:55] zimme commented on #156
I'll look at this later tonight, still at work. If I cant find a good way
of doing this tonight I'll just remove the fixable rules filtering until I
can find a proper solution.

On Thu, Jan 11, 2018, 6:52 PM Nathan Klug <notifications@github.com> wrote:

[2018-01-11 18:33] ncknuna commented on #156
Awesome, thanks!

[2018-01-11 20:59] zimme commented on #156
I'll be removing the filter fixable rules logic until I can do some refactoring.

[2018-01-11 21:39] zimme commented on #156
@ncknuna Test the latest version.

I'm getting some warnings now, but that seems to be related to `prettier` 1.10+.

I'll open an issue over there.

[2018-01-11 23:08] ncknuna commented on #156
Yay, fixed for me! Thanks so much! :D

[2018-01-16 08:47] THPubs opened #159 "Recently on some javascript files, prettier started to break the whole code"
Recently, me and my team started to get errors with prettier in vscode. Most of the time it works but sometimes for some files it breaks. Here's an example code before running prettier:

![screenshot from 2018-01-16 13 20 19](https://user-images.githubusercontent.com/1212023/34977641-550aa4ce-fac1-11e7-946b-690114b51c57.png)

And here's after using prettier:

![screenshot from 2018-01-16 13 20 30]

[2018-01-16 09:01] zimme commented on #159
Could you please verify that it's not `prettier` or `eslint` that's breaking the code by running them separately. without `prettier-eslint`.

[2018-01-16 12:42] James2516 opened #160 "eslint --fix not being executed at all"
**Versions**:

- `prettier-eslint` version: 8.3.1
- `node` version: 8.6.0
- `npm` (or `yarn`) version: yarn 1.3.2

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes
**Relevant code or config**

[code]

.prettierrc:
[code]

**What I did:**

![](https://i.imgur.com/fgcqM31.png)

I have eslint integration enabled on `p

[2018-01-16 14:39] zimme commented on #160
Maybe there's a problem with this logic, which decides if only prettier should be run. https://github.com/prettier/prettier-eslint/blob/master/src/index.js#L99-L117

[2018-01-16 14:40] zimme commented on #156
I'm thinking that parts of the reported issues here are because of some error in the following logic. https://github.com/prettier/prettier-eslint/blob/master/src/index.js#L99-L117.

[2018-01-16 16:47] drumnation commented on #159
This just started happening to me too today.  I'm still trying to figure out what might be the cause of it as I didn't change anything in my configuration.

[2018-01-17 03:57] THPubs commented on #159
@zimme Just did some investigation and looks like it's caused by prettier. Disabled prettier-eslint integration. It still messed up. Next tried eslint auto fix only. It worked fine. So looks like it's prettier. Any idea why?

[2018-01-17 04:31] azz commented on #94
You can use `eslint-plugin-vue` or just `vue-eslint-parser` and it _should_ "just work" now.

[2018-01-17 04:34] azz commented on #159
Since you turned off `prettier-eslint` and the problem persisted we should close this issue and use the duplicate https://github.com/prettier/prettier-vscode/issues/330 to track down the issue.

[2018-01-17 05:03] THPubs commented on #159
@azz Agreed!

[2018-01-17 05:03] #159 closed

[2018-01-17 13:46] embryCODE commented on #94
@azz What update made this "just work?" I banged my head against this two days ago for hours and it just wouldn't work. Today it is working!

Specifically, eslint-plugin-prettier was trying to parse .vue files using babylon-parser so every .vue file would fail with a syntax error. Now I'm having success with this .eslintrc and I don't think the parserOptions have anything to do with it.

[code]

B

[2018-01-17 14:01] zimme commented on #94
Please note that `prettier-eslint` runs `prettier` for any `text`, with or without `filePath`. We let `prettier` decide if it should do anything with the text.

Then we check if the `eslint` config we get have any `extensions` configured and if it does, we only run `eslint` for text without a `filePath` or if `filePath` have any of the configured `extensions`.

What I'm getting at here is that to

[2018-01-17 14:35] embryCODE commented on #94
This is the update that fixed my issue. Great timing!

https://github.com/prettier/eslint-plugin-prettier/pull/76

[2018-01-17 20:56] zimme commented on #160
Fixed in 8.7.6, please test with that version.

I'll notify the maintainers of the `prettier-atom` and `prettier-vscode` to update their version of `prettier-eslint`

[2018-01-17 20:56] #160 closed

[2018-01-17 20:57] zimme commented on #156
Version `8.7.6` is out and should, hopefully, finally, fix this properly.

[2018-01-17 21:33] zimme commented on #155
Pretty sure this is solved in 8.7.6.

[2018-01-17 21:33] #155 closed

[2018-01-17 21:36] zimme commented on #94
Closing this as you should be able to do this now.

Prettier can handle .vue files and eslint can too, with `eslint-plugin-vue`.

[2018-01-17 21:40] zimme commented on #149
Try with latest `prettier-eslint` and tell me if this issue isn't resolved and I'll re-open the issue.

**P.S.** I do believe this might be related to https://github.com/prettier/eslint-plugin-prettier/issues/65

[2018-01-17 21:40] #149 closed

[2018-01-17 21:42] zimme commented on #148
Closing this as it's working as intended, i.e. we rely on eslint's own config resolving and I won't be implementing my own.

[2018-01-17 21:42] #148 closed

[2018-01-17 21:51] zimme commented on #67
Closing this as no one has been able to provide a reproduction.

[2018-01-17 21:51] #67 closed

[2018-01-20 03:23] fatfatson opened #162 "the ignorePattern option of max-len rule seems not work for prettier-eslint"
sometimes, I don't want html tag to be formatted as multilines, inspite of how many attributes it has.
eslint itself could recoginze the rule below, but prettier-eslint ignores it and always produces multilines because the 100 limit.

[2018-01-20 23:36] zimme commented on #162
This is because prettier runs first and based on its `printWidth` option wraps all lines at that length and eslint that runs after prettier isn't smart enough to undo the multiline splits that prettier created.

If you haven't configured prettier then the `printWidth` option is inferred via `max-len`s `code` option.

So unless prettier has an option to also ignore urls or patterns for its `printWi

[2018-01-20 23:37] #162 closed

[2018-01-25 13:00] shardool-freightwalla opened #163 "Error on Node v4.6.0"
**Versions**:

- `prettier-eslint` version: 8.7.4
- `node` version: 4.6.0
- `npm` (or `yarn`) version: 3.10.10

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes || No

**Relevant code or config**

[code]

**What I did:**
prettier-eslint --write <anyFile.js>

**What happened:**
I am getting the below error on all ja

[2018-01-25 13:13] zimme commented on #163
I'll look at adding this https://www.npmjs.com/package/babel-plugin-array-includes and some other specific babel plugins for the new features instead of using babal-runtime's polyfill.

[2018-01-25 17:56] yongjun21 commented on #94
.vue files are still not being supported as of now. Specifically, if we include an .eslintrc.json say {"extends": ["standard", "plugin:vue/essential"]}, some Standard rules like "semi": ["error", "never"] will work while other rules like "space-before-function-paren": ["error", "always"] will not. This issue has been raised before in https://github.com/prettier/prettier-atom/issues/282 and https:/

[2018-01-27 20:46] SavePointSam opened #164 "Add support for Prettier.formatWithCursor"
prettier-atom will soon have support for [prettier.formatWithCursor](https://prettier.io/docs/en/api.html#prettierformatwithcursorsource-options). However, in certain situation's it has a fallback to this package. In order to support cursor retention in all cases, this package needs to add support for it as well.

[2018-01-27 20:57] zimme commented on #164
I've had a quick look at eslint's api and I can't find any support for providing and getting cursor information, which would make this impossible for all cases when eslint is used.

I'm pretty swamped at work so I would appreciate any help I can get here.

Worst case, we should be able to provide `formatWithCursor` that only runs prettier, until such time that eslint supports this too.

As I said,

[2018-01-27 20:59] zimme commented on #163
Pretty swamped at work right now, I'll happily review and accept a PR for this.

[2018-01-28 19:29] sjawhar commented on #94
I've reviewed several issues and pull requests on eslint, and it seems like supporting file extensions in .eslintrc is not gonna happen anytime soon (https://github.com/eslint/eslint/issues/2274#issuecomment-344997647, https://github.com/eslint/eslint/issues/7324, https://github.com/eslint/eslint/issues/8920#issuecomment-359017152).

It seems to me that the best way to support this would be to hav

[2018-01-28 19:33] zimme commented on #94
What happens if you run `eslint` on a `.vue` file without having any eslint plugins that can handle parsing a `.vue` file... would that error or would it destroy the file.

If it errors, we can catch and ignore that and just add `.vue` to the default list of supported files.

[2018-01-28 19:34] zimme commented on #94
Another approach might be to look that the loaded plugins and add `.vue` to extensions if any plugin that handles `.vue` is loaded.

[2018-01-28 19:36] sjawhar commented on #94
I just checked. Running the formatter on a .vue file when no vue eslint plugins are enabled does not error out. Just runs Prettier.

[2018-01-28 19:40] zimme commented on #94
So if we check if `.vue` and running `eslint` gives us parser error we just return the output from `prettier` and ignore the `eslint` error, we should be able to add `.vue` to the default files.

[2018-01-28 19:44] sjawhar commented on #94
That would definitely solve the problem for .vue files (which would be just great for me!), but not the root issue of checking the non-existent `eslintConfig.extensions` property.

[2018-01-28 19:48] zimme commented on #94
`eslintConfig.extensions` does exist if you send it in as an option from `prettier-eslint-cli` or any editor integration or other consumers of the api, which the might not be doing today.

`eslintConfig` is all the options provided in the arguments with some values overwritten by what's available in the config file that we find.

So we should be able to add `--extensions` to `prettier-eslint-cli`

[2018-01-28 19:51] sjawhar commented on #94
So you're saying we should add extensions to `eslintConfig` after it's created around here? https://github.com/prettier/prettier-eslint-cli/blob/master/src/format-files.js#L68-L74
Makes sense, and should be easy.

[2018-01-29 01:06] yongjun21 commented on #94
I actually prefer simply modifying https://github.com/prettier/prettier-eslint/blob/master/src/index.js#L100 to include .vue as a supported file type. However that will require doing something similar to https://github.com/prettier/prettier-eslint/blob/master/src/index.js#L123 forcing parser to be vue-eslint-parser if linting .vue files.

However, it seems this will have silently fail if user did

[2018-01-29 01:09] zimme commented on #94
`eslint-plugin-vue` seems to have `vue-eslint-parser` as a dependency. I'm fine with adding `vue-eslint-parser` as a dependency to this project and add `.vue` to default eslint files.

[2018-01-29 01:14] zimme commented on #94
Maybe it's better to use `eslint-plugin-vue` or both instead, but we need to make sure we can use them without activating any linting rules. That should be ut to each user.

[2018-01-29 01:19] yongjun21 commented on #94
Someone with better understanding of eslint internal can probably help here. Because I'm not sure if including the parser as a dependency of prettier-eslint will help. When lookup for vue-eslint-parser is done, is it originating from 1 the file that is being linted, 2 the location of .eslintrc or 3 the eslint engine location or some combinations of these.

[2018-01-29 10:35] yongjun21 commented on #94
Found a way to address the parser lookup [issue](https://github.com/prettier/prettier-eslint/issues/94#issuecomment-361114436) by using require.resolve. I have set up a PR. Maintainer may comment if this solution suits the project.

[2018-02-14 07:36] cbrwizard commented on #69
Any updates on this?

[2018-02-14 22:03] interactivellama commented on #90
I'm dealing this too, makes me wonder if the quick fix is to run eslint first for code quality and let it error out if the config is bad, then run `prettier-eslint`.

What's the suggested behavior/API for this? It will ignore eslint and go on with prettier by itself UNLESS there is an explicit config setting? If there is an eslint config settings file and it's invalid then error out?

Just adding

[2018-03-04 23:08] mikestead opened #166 "TypeScript adding 36mb to install size"
We've been evaluating our `node_modules` as they've grown large recently and are causing slowdowns in CI execution times, even after caching.

At the top of the list is `prettier-eslint@8.8.1`  at `~37mb`. The main culprit of this appears to be the direct `TypeScript` dependency at `36mb`.

![screen shot 2018-03-05 at 9 59 39 am](https://user-images.githubusercontent.com/56844/36951810-f5ec257e-20

[2018-03-04 23:34] zimme commented on #166
Even if I were to add typescript as a peerDependency it wouldn't help as prettier itself has typescript as a dependency because of the exact same reason this package, to be able to use typescript-eslint-parser to parse typescript files.

[2018-03-05 02:47] mikestead commented on #166
Interesting, when I `npm install` `Prettier` it doesn't seem to bring in any dependencies (although it is 9.9mb). I guess when they publish they do some [bundling](https://github.com/prettier/prettier/blob/master/scripts/build/build.js#L95)?

[2018-03-05 08:55] zimme commented on #166
Yeap, they seem to use rollup. We should be able to do that too, but I currently don't have time to look at that.

So for your CI case, can't you cache node_modules?

[2018-03-05 09:23] mikestead commented on #166
@zimme no worries at all.

We do indeed use caching in bitbucket pipelines, unfortunately it still takes a bit of time to download the zip'd cache each run!

[2018-04-03 08:13] therise3107 opened #167 "How to provide eslintIntegration option to .prettierrc"
Hey, First of all, I am not sure if this is an issue. What I am trying to do is to separate the `prettier.eslintIntegration`
from `VsCode` and `Atom` into `.prettierrc.js` file.

I have enabled `eslint` and using `.eslintrc.js` for that now I want to pass this file to `prettier-eslint` via `.prettierrc.js`.

I have tried providing `eslintConfig: { filePath: './.eslintrc.js' },  eslintPath: './.esl

[2018-04-03 11:07] zimme commented on #167
Sorry but the prettier-eslint integration option is an option specific for prettier-vscode and prettier-atom and can't be specified in the prettier config file.

[2018-04-03 11:22] therise3107 commented on #167
Thank you @zimme closing this.

[2018-04-03 11:22] #167 closed

[2018-04-10 01:36] DanielFGray commented on #166
Is there no way to make it a peerDependency or devDependency?

[2018-04-13 16:27] Yohanna opened #169 "Bump Prettier to latest version"
**Versions**:

- `prettier-eslint` version: 8.8.1
- `node` version: 8.11.1
- `npm` version: 5.8.0
- `yarn` version: 1.5.1

**Problem description:**

`prettier-eslint` currently uses v`1.7.0` of `prettier`. However latest `prettier` is at v`1.12.0`, it'd be great to upgrade to the latest version!

I can work on a PR to upgrade the version if that's ok?

[2018-04-13 16:46] zimme commented on #169
prettier is defined as a version range ^1.7.0 which will accept newer versions of prettier.

[2018-04-13 17:09] Yohanna commented on #169
That's what I thought, but when I look under `node_modules` I see prettier v`1.10.2` (using npm). If I used yarn, I get v`1.11.0`, I never get the latest version, v`1.12.0` 😕

[2018-04-14 23:54] kripod opened #170 "Add support for the --ignore-path CLI option"
Currently, when I try to use Prettier's [`--ignore-path`](https://prettier.io/docs/en/cli.html#ignore-path) CLI option with prettier-eslint, I come across many of the following error messages:

[code]

[2018-04-15 20:39] #169 closed

[2018-04-16 09:33] domoritz opened #171 "No CLI"
**Versions**:

- `prettier-eslint` version: ??
- `node` version: 9
- `yarn` version: 1.6.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**What I did:**

Install prettier eslint. `yarn add prettier-eslint --dev`

**What happened:**

[code]

[code]

[2018-04-16 09:36] zimme commented on #171
[code]

[2018-04-16 09:36] #171 closed

[2018-04-16 09:37] domoritz commented on #171
Thanks @zimme! I got confused when I saw a bunch of mentions in the issues.

[2018-04-17 12:27] azz commented on #170
`--ignore-path` is a CLI flag and does not work in config files.

[2018-04-17 12:30] kripod commented on #170
Sure, but it’d be great if prettier-eslint could support the `--ignore-path` CLI flag.

[2018-04-17 12:32] azz commented on #170
Sounds like an enhancement for https://github.com/prettier/prettier-eslint-cli?

[2018-04-17 12:35] kripod commented on #170
Yeah, definitely, I’ll move this issue over there. Thanks for informing me!

[2018-04-17 12:35] #170 closed

[2018-04-17 12:36] kripod commented on #170
I have just moved this issue to https://github.com/prettier/prettier-eslint/issues/170

[2018-04-17 22:32] fringd opened #172 "not the same as prettier then eslint for me"
I have the latest version. If i run prettier then eslint, commit, then run prettier-eslint there is a diff

[code]

[2018-05-02 17:25] ag-kylemh opened #174 "Upgrade Prettier dependency"
**Versions**:

- `prettier-eslint` version: 8.8.1
- `node` version: 8.9.4
- `npm` (or `yarn`) version: npm@6.0.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

https://github.com/prettier/prettier/issues/4410

**What I did:**

I was using `prettier-eslint` via the VS Code extension

[2018-05-04 07:38] #174 closed

[2018-05-07 10:49] m-diiorio opened #176 "Prettier does not respect the "no-multiple-empty-lines" rule of eslint"
Prettier removes any multiple empty lines collapsing to max 1 empty line.
I understand the default behavior but I would like to override it with eslint

**Example with my rule (google/airbnb style guide):**
`"no-multiple-empty-lines": ["error", { "max": 2 }]`

[code]
Becomes:
[code]
----
Opinionated behavior should only be the default and should be configurable.
Ref: https://github.com/prettier/pr

[2018-05-07 14:07] zimme commented on #176
This is not possible as the output eslint gets is already ran though prettier. The only way to get the outcome you're after is to add an option about this in prettier.

[2018-05-07 14:07] #176 closed

[2018-05-08 08:14] manuel-di-iorio commented on #176
Yes I'm looking for an option in Prettier for this, but cannot see any here: https://prettier.io/docs/en/options.html.
I will create an Issue in their repo, thanks

[2018-05-08 10:02] zimme commented on #176
I'm thinking that for your case if you really don't want the prettier way of formatting then maybe it's just better for you to go with using eslint only.

[2018-05-08 10:15] manuel-di-iorio commented on #176
@zimme Thank you zimme, I'm evaluating also that, but if I'm not in wrong, Prettier can format better than eslint in some cases, that's why I was using it in the first place.
Will think about, thanks 👍

[2018-05-17 02:59] qingfengmy opened #177 "replace `↹` with `··` prettier/prettier"
![image](https://user-images.githubusercontent.com/4978379/40154453-f80f162e-59c0-11e8-8dba-f76d423c329d.png)

How to deal with this error ？？

[2018-05-17 06:43] zimme commented on #177
I'm pretty sure this error message is that on line 4 in that file you have a tab character instead if 2 spaces which is something prettier expect. Also this error seems to be coming from `eslint-plugin-prettier` as it's a linting error. This package automatically formats those errors instead.

[2018-05-17 06:43] #177 closed

[2018-05-26 11:51] contactjavas opened #178 "Can't install prettier-eslint on node 10 & npm 6"
**Versions**:

- `eslint` version: 4.19.1
- `prettier-eslint` version: 8.8.1
- `node` version: 10.1.0
- `npm` version: 6.1.0
- `platform` version: Windows 10

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Can't install, so can't follow

**Relevant code or config**

[code]

**What I did:**

`npm i -D prettier-eslint`

[2018-06-21 16:33] Floriferous opened #180 "JSX inside of object isn't formatted properly"
**Versions**:

- `prettier-eslint-cli` version: 4.7.1
- `node` version: 8.11.2
- `npm` (or `yarn`) version: 5.10.0

My code started formatting weirdly when I introduced the `'no-extra-parens': ['error', 'all']` rule.
Here's an example:

[code]
I'm expecting the component to wrap at 80 characters, and the extra comma to be after the closing bracket of the JSX line.

Here are the logs from `--log-le

[2018-06-22 08:58] Floriferous commented on #180
Here's another example of broken code:

[code]

While, what I expect is this:
[code]

And here are the logs: https://gist.github.com/Floriferous/2b9b1221b311f21ac435afcc835585ab

[2018-06-22 18:22] #163 closed

[2018-06-22 20:47] zimme commented on #180
Do you get the same problem if you run prettier and/or eslint separately?

[2018-06-25 10:10] Floriferous commented on #180
Running prettier alone works correctly (but without eslint rules obviously).
Running `eslint --fix` on the following snippet:

[code]

Logs the following in the console:
[code]

[2018-06-25 10:38] zimme commented on #180
I've had a quick look through the stacktrace you linked to and I can see that `prettier` produces the output that you want then we run that through eslint and I can see the warning about extra parens and such and then the output of that is that `...map(...` is back to a oneliner again... I'm not sure why eslint does this, I'm guessing it's parsing the ast of the text to check the semantics of the

[2018-07-05 20:55] amosyuen opened #181 "Prettier-eslint removes empty line between imports incorrectly"
**Versions**:

- `prettier-eslint` version: 8.8.2
- `node` version: 8.11.1
- `yarn` version: 1.5.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

.eslintrc.js
[code]

src/example.js (file being formatted)
[code]

**What I did:**

Run `yarn  prettier-eslint --list-different --write s

[2018-07-05 21:00] zimme commented on #181
How is `prettier` formatting the file if you just run `prettier` on it? I'm thinking that becuase `prettier` runs first and if it is removing the empty lines between the imports then `eslint`, which runs after, isn't able to add an empty line again.

[2018-07-06 08:07] amosyuen commented on #181
I created some simple code to use the eslint `CLIEngine` and the problem repros there. So maybe this is an eslint issue.

[2018-07-06 08:09] zimme commented on #181
That's even weirder as `eslint`'s cli uses the `CLIEngine`, but if you can reproduce it with just `CLIEngine` it seems like an `eslint` issue :+1:

[2018-07-06 08:13] amosyuen commented on #181
Cross posted to eslint https://github.com/eslint/eslint/issues/10567

[2018-07-07 08:58] amosyuen commented on #181
So after some back and forth on the eslint bug I think it's a bug in `prettier-eslint`. Seems that prettier-eslint is passing the eslint config directly into the constructor for eslint CLIEngine, but those options don't support all the same fields as eslintrc. The eslint documentation https://eslint.org/docs/developer-guide/nodejs-api#cliengine doesn't list the `settings` field, which would explai

[2018-07-07 09:09] zimme commented on #181
Thank you for all the work tracking this down.

The reason we need to load the configs ourselves and give it to eslint is that we turn off some eslint options of i remember correctly.

[2018-07-10 07:30] amosyuen commented on #181
Sorry, I didn't actually test my above comment. So seems like `configFile` option only allows using a file path. So right now there is no way to dynamically pass in settings to CLIEngine it seems.

[2018-07-10 22:52] mxmzb commented on #133
@zimme i will give it a shot: i just migrated a bunch of projects into a monorepo. one of these projects happens to be a `create-react-app` which comes with its own version of `eslint`. configuring anything at this point in CRA would require me to eject (or turn off the preflight check).

now when i wanted to move up all my dev dependencies from my projects that are used multiple times across the

[2018-07-13 10:00] woodghost commented on #178
Same problem here！

[2018-07-17 07:45] HaoyangFan commented on #135
Hi I just want to confirm that as long as I have installed the VSCode Plugin for Prettier and set `"prettier.eslintIntegration": true` in User Setting, and also turns on the `formatOnSave` option on?

Do I need to add anything to my `eslintrc` as well?

[2018-07-18 08:58] bradennapier opened #182 "Line Length Issues - All the time"
**Versions**:

- `prettier-eslint` version: 8.8.2
- `node` version: 10.6.0
- `npm` (or `yarn`) version: 1.7.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**

Ran prettier-eslint

**What happened:**

It took a line that conforms to the eslint spec and breaks i

[2018-07-27 22:15] brettkiefer opened #183 "Trailing paren left when combined with no-else-return and surrounding parens"
**Versions**:

- `prettier-eslint` version: 8.8.2
- `node` version: 10.7.0
- `npm` (or `yarn`) version: npm 6.1.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**
Yes, but I couldn't get prettier-cli to run with the latest eslint.

[code]

...produces `TypeError: CLIEngine is not a constructor`, so I abandoned that pat

[2018-07-31 16:05] kserjey opened #184 "Trailing comma"
**Versions**:

- `prettier-eslint` version: 8.8.2
- `node` version: 10.6.0
- `npm` (or `yarn`) version: 6.2.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

No

**Relevant code or config**

_ESLint Config_

[code]
_Prettier Config_

[code]

_Test case_

[code]

**Problem description:**

Expected output is:

[code]

[2018-08-08 10:17] fatfatson opened #185 "how to treat `.babelrc` as normal json file?"
now it always format the `.babelrc` as js file, then vscode give lots of problems:
![image](https://user-images.githubusercontent.com/5842874/43831674-79152bf2-9b37-11e8-9545-37a31a34bde6.png)

[2018-08-08 18:32] biw commented on #185
You can use a `babel.config.js` file and vscode shouldn't give you issues 😄
https://babeljs.io/docs/en/next/configuration.html#babelconfigjs

[2018-08-08 19:41] zimme commented on #185
If you don't provide a parser to prettier it defaults to using the `babel` parser when the file type is unknown. So unless we want to start checking for file types stuff in our code, which I'm not so keen on, this will be solved in the next major version of prettier as that won't default to a parser for unknown files.

[2018-08-09 14:35] ryanwoodcox opened #186 "Prettier ignoring eslint rule: operator-linebreak"
**Versions**:
- `prettier-eslint` version: 8.8.2
- `node` version: 8.11.3
- `npm` version: 6.2.0

**What I did:**
I formatted a javascript file with prettier installed within VSCode.

**What happened:**
Prettier moved my operators to the end of the line before the line break even though my eslint rule is: `'operator-linebreak': ['error', 'before']` .

**Problem description:**
It seems prettier is

[2018-08-09 14:47] ryanwoodcox commented on #186
@zimme Note: If I manually run `eslint --fix` on my target file it fixes the operator linebreak issue.

So, help me understand why I'm having this issue if the description of this `prettier-eslint` package is: `Formats your JavaScript using prettier followed by eslint --fix`.

[2018-08-09 14:50] zimme commented on #186
That is weird... I'll look into it.

[2018-08-09 14:51] zimme commented on #186
That is weird... I'll look into it.

[2018-08-09 14:52] zimme commented on #186
Just to double check, you have set `prettier.eslintIntegration` to `true` in the vscode settings so that vscode's prettier extension is using `prettier-eslint`, right?

[2018-08-09 14:53] zimme commented on #186
If you use `prettier-eslint-cli` to lint the file, do you still get the same problem?

[2018-08-09 15:25] ryanwoodcox commented on #186
Correct, `prettier.eslintIntegration` is set to true in my VSCode User Settings, as well as prettier-eslint installed as a dev-dependency.

[2018-08-09 15:50] ryanwoodcox commented on #186
After closing VSCode and relaunching it, things are working on my .js file. The same code in a .vue file in a script tag is suffering the same problem. Note: Formatting is happening within the vue file but the operators all end up at the end of the line still.

[2018-08-09 17:55] ryanwoodcox commented on #186
To answer the question about `prettier-eslint-cli`, no, I did not get proper formatting. The .vue file remains with the && operator at the end of the line before the line break.

[2018-08-29 17:06] Seefer opened #187 "Not seeing prettier-eslint in the VS Code markeplace website or shown in the VS Code extensions install tool."
**Versions**:

- `prettier-eslint` version:
- `node` version:
- `npm` (or `yarn`) version:

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes || No

**Relevant code or config**

[code]

**What I did:**

**What happened:**

**Reproduction repository:**

**Problem description:**
Should prettier-eslint be present in th

[2018-08-30 18:33] ryanpcmcquen opened #188 "Tabs and spaces are mixed with this code snippet."
**Versions**:

- `prettier-eslint` version: 8.8.2
- `node` version: 10.9.0
- `yarn` version: 1.9.4

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

**Offending snippet**:
[code]

**.eslintrc.json**:
[code]

**prettier.config.js**:
[code]

**What I did:**

Ran `prettier-eslint`.

**Wha

[2018-08-30 22:27] zimme commented on #88
@EsdrasEtrenne If you wanna run this on the command line have a look at https://github.com/prettier/prettier-eslint-cli, otherwise you can use it with prettier's vscode/atom integrations.

[2018-09-04 09:42] EnixCoda opened #189 "Does prettier DO process file BEFORE eslint?"
**Versions**:

- `prettier-eslint` version: 8.8.1
- `node` version: 9.11.1
- `npm` (or `yarn`) version: 1.6.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**
[code]

[code]

[code]

**What I did:**

I'm using eslint and prettier to do auto fix and code format. But I noticed that **sor

[2018-09-22 15:28] James2516 opened #190 "No auto line break in long arrow functions"
**Versions**:

- `prettier-eslint` version: 8.8.1
- `node` version: 8.12.0
- `npm` (or `yarn`) version: 1.6.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**

Declare a long arrow function:
[code]

**What happened:**

Line exceeded max line length warning is g

[2018-09-25 08:37] yanni4night opened #191 "What if eslint cannot fix what prettier generated in the future?"
I'm using prettier-eslint well. But I'm wondering, someday in the future,  if eslint cannot fix the result of prettier, what will be a solution?

E.g.

The code *A* is my source, and I prefer this style, but prettier forces to format at its own rule which cannot be configured, then eslint cannot fix it back to *A*, then report an error, what will we do?

I cannot find out a real example like this

[2018-09-26 09:51] ShinobiWPS commented on #188
As described [here](https://github.com/prettier/prettier/issues/4199), is intended.
Is not a bug.

[2018-09-26 13:38] ryanpcmcquen commented on #188
Interesting ... well I guess I will disable the `eslint` setting then.

[2018-09-26 13:38] #188 closed

[2018-09-27 18:23] cjones26 opened #192 "Warning: React version not specified in eslint-plugin-react settings, though it is specified"
**Versions**:

- `prettier-eslint` version: 4.7.1
- `node` version: v10.5.0
- `npm` (or `yarn`) version: 6.4.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**
I have configured my package.json scripts with a formatting script as shown below:

` "format": "pret

[2018-09-28 09:36] jingsam opened #193 "Support eslint 5"
ESlint 5 have released for a period of time, would you considering add support of it?

**Versions**:

- `prettier-eslint` version:
- `node` version:
- `npm` (or `yarn`) version:

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes || No

**Relevant code or config**

[code]

**What I did:**

**What happened:**

**Repro

[2018-10-01 12:33] ShinobiWPS commented on #188
Actually I managed to format everything with a specific value of spaces using tabs using prettier - eslint package and eslint rules in the middle, like you wanted to do.

Do you want to see my configuration?
I think I managed to do it because I set the `indent` eslint property, check it out!

[2018-10-01 12:35] ryanpcmcquen commented on #188
@ShinobiWPS, that would be great!

[2018-10-02 15:54] thetoine commented on #192
@cjones26  You are using a pretty old version (4.7.1), although I have the same issue here. Did you fixed your problem ?

Version used :

[code]

[2018-10-04 14:16] timrc commented on #192
Same issues here. I have set react version but prettier keep saying that it's not
"Warning: React version not specified in eslint-plugin-react settings. See https://github.com/yannickcr/eslint-plugin-react#configuration."

I'm using latest version of "prettier-eslint-cli": "^4.7.1" and with that "prettier-eslint": "8.8.2""

[2018-10-05 12:19] bertho-zero commented on #192
I have the same issue and `context.settings` is an empty object here: https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/util/version.js#L14

[2018-10-09 10:19] ShinobiWPS commented on #188
[code]

[2018-10-09 10:20] ShinobiWPS commented on #188
You can tweak the `indent` rule

[2018-10-12 05:56] unordered commented on #107
same like [this issue](https://github.com/prettier/prettier-atom/issues/339#issuecomment-429212213)

[2018-10-26 00:39] riwu opened #195 "Closing braces being flushed all the way to the left for inline component props"
**Versions**:

- `prettier-eslint` version: 4.7.1
- `node` version: v8.12.0
- `yarn` version: 1.9.4
[code]

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**
![](https://i.imgur.com/cCs84Ch.gif)

**What happened:**
Line 11's closing braces are being flushed to th

[2018-10-30 17:19] ryanpcmcquen commented on #188
Thank you @ShinobiWPS!

[2018-11-13 11:18] neutraali opened #196 "Possible conflict with eslintPath & eslintConfig"
Possibly related to [this](https://github.com/prettier/prettier-eslint-cli/issues/139), but it seems that supplying an `eslintConfig` and and `eslintPath` are somehow in conflict with each other. The use case here is that I have a _global_ ESLint config, which is used by a globally installed ESLint.

**Versions**:
[code]
**What I did:**

`npm run prettify -- --config "./.prettierrc" --eslint-path

[2018-11-14 08:39] zimme commented on #191
I recommend using `eslint-config-prettier` when using this package. i.e. disable all eslint rules that are conflicting with prettier. This way eslint will be a compliment to prettier and you're not pitting them against each other.

If you are using eslint --fix to undo most of what prettier does, maybe not using prettier is the better option for you?

[2018-11-15 03:00] yanni4night commented on #191
@zimme 😂 I guess.

[2018-11-19 07:32] zimme commented on #191
I'll close this and we can take up this discussion again if and when this becomes a problem.

[2018-11-19 07:32] #191 closed

[2018-12-11 19:07] Zemelia commented on #190
True, have same issue.

[2018-12-13 18:28] #192 closed, assigned to nobody

[2019-01-10 22:13] cellog opened #198 "Incorrect formatting"
**Versions**:

- `prettier-eslint` version: 4.7.1
- `node` version: 8.4.11
- `npm` (or `yarn`) version: 6.5.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

No

**Relevant code or config**

[code]

**What I did:**

[code]

**What happened:**

[code]

**Reproduction repository:**

**Problem description:**

**Suggeste

[2019-01-10 23:31] j-f1 commented on #198
What’s the difference?

[2019-01-10 23:51] cellog commented on #198
The green line in the second one, it is adding `},`

[2019-01-16 04:10] pastelsky commented on #193
I second the thought that `prettier-eslint` should have listed `prettier` and `eslint` as `peerDependencies`. This, especially since `prettier-eslint` does not import these dependencies anywhere in its code.

[2019-01-18 16:23] zimme commented on #193
Will accept a pr for this

[2019-01-21 09:22] yyjazsf commented on #190
use rule implicit-arrow-linebreak ?

[2019-01-29 17:39] bradennapier commented on #182
still having this issue...

[2019-01-30 18:12] j-f1 commented on #182
You can either resolve this by increasing the `printWidth` in your Prettier config, or by adding a `// prettier-ignore` line like so:

[code]

[2019-02-08 19:07] TiredFalcon opened #200 "Prettier runs ESLint --fix even if requirePragma is set to true in .prettierrc"
**Versions**:

- `prettier-eslint` version: Included in the latest version of the prettier-vscode extension
- `node` version: 8.15.0
- `npm` (or `yarn`) version: 6.4.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

No

**Relevant code or config**

`.prettierrc` and `.eslintrc` in the example repository.

`settings.j

[2019-02-11 11:06] r0skar opened #201 "Error generating `parserServices` for eslint plugin `@typescript-eslint`"
**Versions**:

- `prettier-eslint` version: 8.8.2
- `node` version: 11.9.0
- `yarn` version: 1.13.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

`.eslintrc.js`

[code]

**What I did:**
Run prettier (via VSCode`s FormatOnSave hook).

**What happened:**

[code]

**Problem descriptio

[2019-02-11 15:11] r0skar commented on #201
I have created a quick test repo: https://github.com/r0skar/prettier-eslint-test

If you open it in VSCode with the prettier extension installed, you will get an error upon saving `index.ts`, but running `yarn eslint` will not show any error.

[2019-02-12 00:49] marek-sed commented on #182
@bradennapier I am having the same issue, but found a strange behaviour were { code: 99 } is working properly but { code: 100 } is not.

is it doing the same thing in your config?

[2019-02-13 08:46] xinshangshangxin commented on #201
when i use `.eslintrc.js` with
[code]

I directly [remove code](https://github.com/prettier/prettier-eslint/blob/master/src/index.js#L125-L127)
[code]

it work fine

[2019-02-13 09:04] zimme commented on #201
I'm looking into this today.

[2019-02-13 09:04] zimme commented on #193
I'm looking into this today.

[2019-02-14 21:00] aMarCruz commented on #133
yes, there's issues with CRA

[2019-02-15 00:46] jabacchetta commented on #182
I've got both `max-len` and `printWidth` set at 100. Yet, my lines seem to be formatting with no limit at all?

[2019-02-15 12:35] NewFuture commented on #201
update `typescript-eslint-parser`  (Deprecated)  to  `@typescript-eslint/parser`

[2019-02-15 17:39] marek-sed commented on #182
I figured it out, in my case there was a conflict in rules. We are extending abnb-guide.

Setting the  'function-paren-newline': 'off' did the trick and allowed the prettier to format properly.

[2019-02-15 20:19] jabacchetta commented on #182
@marek-sed Mind posting your entire config? I'm extending airbnb as well. I tried adding `"function-paren-newline": "off"` with no luck. `prettier-eslint` is still formatting with no `printWidth`/`max-len` limit at all.

[2019-02-15 20:23] jabacchetta commented on #182
What did end up working for me is adding `"implicit-arrow-linebreak": "off". Unfortunately this isn't the formatting I'm looking for. I suppose this might be a separate issue that needs to be opened.

[2019-02-15 20:35] jabacchetta commented on #190
This can be solved by using `"implicit-arrow-linebreak": "off",` but that would defeat the purpose (wanting to give priority to ESLint).

This might be a [limit of prettier](https://github.com/prettier/prettier/issues/2065)?

Unfortunately this makes Prettier unusable with the Airbnb style guide, unless wanting to give priority to Prettier's formatting (i.e. [using eslint-plugin-prettier along wit

[2019-02-15 21:37] marek-sed commented on #182
@jabacchetta nice find, I turned it off, it seems there are few rules that can conflict with line formatting.

[2019-02-18 08:36] zimme opened #202 "Fix failing tests"
Tests are currently failing and it's keeping us from releasing any new code for this package.

The tests are failing because `prettier` updated `comsiconfig` and it's reading files a bit differently and is resulting in failing tests because of how we mock the filesystem for our tests.

We need to find a better way to mock the filesytem i.e. the `fs` module and the `require` calls.

@azz @vjeux Fee

[2019-02-18 08:40] zimme commented on #202
I've done some fs mocking in my `linter` packages i.e. [here](https://github.com/linterjs/provider-eslint/blob/552b0783b7d25f057ef8f7813e6f862123de44b5/src/linter.test.ts#L5-L11)

That's using some in memory fs and unionfs with the real fs but I haven't had time to test this in this project yet.

[2019-02-25 17:47] LambdaFalcon commented on #200
Did someone see this? It is probably of lower importance, but important nevertheless since it's not the expected behaviour.

[2019-02-25 18:05] zimme commented on #200
I've seen it, won't be able to fix anything until filsystem mocking and failing tests are fixed, sorry

[2019-02-27 07:23] DevinCarl opened #203 "how to use in browser?"
I want to format code based on eslint config in browser , can I do this?

[2019-02-27 23:24] jsejcksn commented on #203
@DevinCarl It's not officially supported, but if you want to do it yourself, you can start reading here:

  - https://github.com/eslint/eslint/issues/8348
  - https://github.com/eslint/eslint/issues/2585
  - https://prettier.io/docs/en/browser.html

[2019-03-07 10:42] vomvoru opened #204 "It does not finish after running it."
**Versions**:

- `prettier-eslint` version: 8.8.2
- `node` version: 8.9.1
- `npm` (or `yarn`) version: 6.5.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

eslintrc.js
[code]

index.js
[code]

**What I did:**

[code]

**What happened:**

[code]
and.. My computer has stopped.

**Repr

[2019-03-11 09:03] MarcosRZ commented on #186
I solved it by disabling **tslint autofix on save** setting. I usually work with Angular7 and I have both ESLint and TSLint extensions installed. It seems that I configured tslint globally and it was being applied in ES6 projects too. I don't know why it is being applied to js extension files but it does.

Just commented out this line in settings.json:

`// "tslint.autoFixOnSave": true,`

[2019-03-13 12:52] JamieYoungman opened #205 "Prettier and Eslint not working"
Hi,

For some reason eslint and prettier is not working correctly. I have used these same config for all projects, and i just clone from my github when i need to setup a new project, however in this occasion its not working.

App.js:

[code]

export default App;

.eslintrc:

[code]

package.json:

[code]

As i said, these config settings work on my projects using Vscode on mac, but using vscode on

[2019-03-14 15:29] Maruz commented on #181
This is an old task, but we are experiencing this with our setup now which is very similar to the config in the initial bug report. ESlint expects the space that Prettier removes.

[2019-03-19 16:41] JamieYoungman commented on #205
Is anyone picking this up?

[2019-03-19 18:34] cellog opened #206 "Is this project actively maintained?"

[2019-03-19 18:38] zimme commented on #206
I'm here but as I recently got a kid I don't have much time for any open-source work for the moment. Currently there's a pinned issue with mocking the filesystem  so that tests can run that needs to be resolved before any fixes or features can confidently be added.

So any help I can get is appreciated.

[2019-03-19 18:39] cellog commented on #206
congratulations! Appreciate the update

[2019-03-21 16:05] joefiorini commented on #201
Ideally this would be fixed by #197, but it sounds like it's blocked by some necessary changes to the testing infrastructure. In the meantime, would it be possible update this library to use `@typescript/eslint-parser` instead of the deprecated `typescript-eslint-parser`? @zimme @r0skar Would you accept a PR for this kind of change or would it run into the same issue as #197?

[2019-03-23 01:36] tohagan commented on #186
Looks like this is a limitation of Prettier.
- You can up-vote this issue at https://github.com/prettier/prettier/issues/3806

[2019-04-24 13:13] Gustash commented on #205
I have this problem as well, it was working fine until a couple of days ago. Using VSCode

[2019-04-26 10:54] OliverJAsh opened #207 "React fragments + .tsx + ESLint `quotes` rule"
**Versions**:

All latest at time of writing

- `@typescript-eslint/parser` version: 1.7.0 (latest at time of writing)
- `prettier-eslint` version: 8.8.2 (latest at time of writing)
- `node` version: 8.15.1
- `npm` (or `yarn`) version: 1.13.0
- `eslint` version: 5.16.0 (latest at time of writing)

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/READ

[2019-04-26 10:59] OliverJAsh commented on #207
There are a combination of different tools being used here, but I filed the issue with prettier-eslint since the issue doesn't occur when running `prettier` nor `eslint --fix`.

[2019-04-26 11:13] OliverJAsh commented on #207
Aha, the issue seems to stem from the fact that prettier-eslint is _overriding_ the `parser` option (defined in `.eslintrc.js`) to `typescript-eslint-parser` (an old version). Only when using this old version of the TS ESLint parser, the issue I demonstrated occurs.

This is what the call from prettier-eslint to ESLint looks like:

[code]

I believe that prettier-eslint should not override `parser

[2019-04-26 11:15] zimme commented on #207
Yeah, we have some problems that needs solving but tests needs to be fixed before we can publish any new version as we need to make sure nothing breaks.

[2019-04-26 11:17] OliverJAsh commented on #207
@zimme What do you think the correct fix is here? To allow the user to use their own TS parser (in much the same way prettier-eslint lets you use your own version of ESLint)?

To verify the fix, I tried commenting out this: https://github.com/prettier/prettier-eslint/blob/f33b95333a64ea85f2b7c77bdc24013e9599996c/src/index.js#L125-L127

When I did so, the issue no longer occurred.

[2019-04-26 11:19] zimme commented on #207
https://github.com/prettier/prettier-eslint/issues/201

[2019-04-26 11:19] #207 closed

[2019-04-26 11:28] OliverJAsh commented on #201
The main suggestion here seems to be to update from the old `typescript-eslint-parser` to the new `@typescript-eslint/parser`.

However, I would like to make another suggestion: make `prettier-eslint` respect any predefined TS parsers (via an existing `parser` option in the ESLint RC).

This way, users may user/specify their own version of the TS parser, in much the same way that `prettier-eslint`

[2019-04-27 20:50] genechan commented on #205
mines with .eslintrc.json
VS code Version 1.33.1 (1.33.1)

[2019-04-29 02:34] aflext opened #208 "How to disable `prettier-eslint` adding newline at EOF when auto saving js files ?"
[code]
How to disable `prettier-eslint` adding newline at EOF when auto saving js files ?

[2019-04-30 17:44] cky-BryanChan commented on #205
+1

[2019-05-15 00:50] MaxMilton commented on #201
It's surprising to me that the user config is mangled.

Wouldn't the optimal solution to this be _not_ to override the user configured parser/s at all? If users want the ability to parse a particular file type they can simply add the `parser` + relevant `overrides`. That way they can also add `parserOptions` correctly.

Keeping the functional scope of the extension tighter would be nice too (less

[2019-05-15 05:36] zimme commented on #201
@MaxMilton It's most likely an oversight when typescript support was added to not keep `parser`/`parserOptions` when handling typescript files.

[2019-05-23 15:22] cjones26 commented on #202
Apologies if this is a poor suggestion, but couldn't we just do something like so:

[code]

Of course this isn't a full solution but it did get most of the tests running as we avoid failing due to the ".prettierrc.js not found" error.

[2019-05-26 06:41] nataliamelissas commented on #205
Also experiencing this issue. Followed this article step by step:

https://dev.to/robertcoopercode/using-eslint-and-prettier-in-a-typescript-project-53jb

[2019-06-08 02:47] mcuking opened #210 "How to use prettier-eslint in typescript project?"
**Versions**:

- `prettier-eslint` version: 8.8.2
- `node` version: 8.15.1
- `npm` version: 6.4.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**
I am working in a tool that transforms vue component code to react component code, and the tool is written in type

[2019-06-12 10:20] #202 closed

[2019-06-12 10:26] zimme commented on #202
Tests are finally fixed :tada:

I'll try and merge PR's and get a new version of the package out ASAP.

[2019-06-12 14:21] chinesedfan commented on #172
@fringd Can you provide detailed versions of each? A demo repository is better.

[2019-06-12 14:41] chinesedfan commented on #210
@mcuking I think you share the same request with #203. It was caused by browser environment, instead of typescript.

[2019-06-12 14:47] chinesedfan commented on #208
@aflext How about pasting your eslint configurations? See [eol-last](https://eslint.org/docs/rules/eol-last).

[2019-06-13 07:16] chinesedfan commented on #204
Fixed by #194. Waiting for the next release.

The culprit was that settings of `import/ignore` were lost. Then the parser would try to parse the whole typescript lib, which costed very long time.

[2019-06-16 20:15] zimme commented on #202
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/prettier/prettier-eslint/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-16 20:16] zimme commented on #192
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/prettier/prettier-eslint/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-17 14:32] mcuking commented on #210
@chinesedfan Thanks very much for your help. I resolve it by require 'prettier/standalone'. The code is below.

[code]

[2019-06-18 01:49] tim0991 opened #213 "Cannot read property 'range' of null"
**Versions**:

- `prettier-eslint` version: 4.7.1
- `node` version: 10.16.0
- `npm` (or `yarn`) version: yarn 1.5.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**
yes

**Relevant code or config**

.eslintrc
[code]
vscode setting
[code]

product.ts
[code]

**What I did:**
format a typescript file `product.ts` in vscod

[2019-06-18 01:53] chinesedfan commented on #213
Can you try the latest 5.0.0?

[2019-06-18 01:55] tim0991 commented on #213
prettier-eslint 5.0.0？ install globally or install locally

[2019-06-18 02:44] chinesedfan commented on #213
Sorry, I mean `prettier-eslint-cli@5`, which includes the latest `prettier-eslint@9`.

`prettier-eslint` is one of `prettier-vscode`'s dependencies. So upgrade to `prettier-eslint@9` in `prettier-vscode` should fix your issue.

[2019-06-18 02:53] tim0991 commented on #213
you are right

1. ~/.vscode/extensions/esbenp.prettier-vscode-${version}
2. yarn add prettier-eslint@9
3. restart vscode

[2019-06-18 02:53] #213 closed

[2019-06-26 09:19] zyy7259 commented on #201
I think this issue has been solved by [the release of prettier-eslint v9.0.0](https://github.com/prettier/prettier-eslint/releases/tag/v9.0.0).

[2019-06-26 09:52] #201 closed

[2019-06-26 10:30] OliverJAsh commented on #201
Confirmed it fixes my issue (https://github.com/prettier/prettier-eslint/issues/207)

[2019-07-04 10:26] baldurh commented on #181
We’re having problems with this as well in our team.

[2019-07-05 15:06] yeukhon opened #220 "Does prettier have opinion about single import using multi-line?"
**Versions**:

- `prettier-eslint` version: 1.18.2
- `node` version: 8.9.4
- `npm` (or `yarn`) version: 5.6.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**

I ran prettier, and it suggested to do a single line.

**What happened:**

[code]

The reason we brok

[2019-07-11 15:40] nashaofu opened #222 "Not working properly width eslint 6"
**Versions**:

- `prettier-eslint` 9.0.0:
- `node` 10.15.3:
- `npm` (or `yarn`) version: 6.10.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**
https://github.com/prettier/prettier-eslint/blob/c87b69b769c59bcea0d96c87dddb6a4925085d8a/src/index.js#L225-L243
[code]

**What I did:**

Sup

[2019-07-17 08:17] joshuadiablito commented on #222
this is causing me issues too - any help resolving would be great!

[2019-07-17 08:20] zimme commented on #222
We just recently added support for eslint 5 so prettier-eslint might not work with eslint 6 as it hasn't been tested by us and depends on eslint 5. Will accept a PR for eslint 6 support otherwise I'll try and get to it in a couple of weeks as I'm on vacation currently.

[2019-07-17 08:34] zeemi opened #224 "Formatting returns corrupted output when run on multiple typescript files"
**Versions**:

- `prettier-eslint` version: v9.0.0
- `node` version: v11.10.1
- `npm` (or `yarn`) version: v6.9.0

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes
Meaningful log:
[code]

**Relevant code or config**

eslint config:
[code]
tsconfig:
[code]
**What I did:**
Run prettier-eslint on few typescript files:

[2019-07-19 13:21] phts commented on #222
@zimme @nashaofu I found related one more issue related to eslint 6 and CWD.

Minimal reproducible repo: https://github.com/phts/prettier-eslint-overrides-bug

**TL;DR**:

Issue with overrides.

When I set override with explicit file path, e.g. `src/myFile.js` - eslint cannot match config to this file, and eslint will be just skipped by `prettier-eslint --write **/*.js`.

When override contains `*

[2019-07-25 19:03] fab1o opened #226 "Wrong indentation when formatting with eslint rule brace-style as stroustrup"
**Versions**:

- `prettier-eslint` version: ^9.0.0
- `node` version: 10.16.0
- `npm` (or `yarn`) version: 6.10.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**.eslintrc**
[code]

**What I did:**

`prettier-eslint --write "*.js"`

**What happened:**

Code was formatted thi

[2019-07-28 15:37] ericbiewener commented on #224
I'm experiencing the same, although I have no `parserOptions.project` configuration. The problem appears to occur during the eslint-fixing stage, since putting `--prettier-last` causes it to blow up when trying to run the resulting output through prettier.

I have an branch named `prettier-misbehaving` [here](https://github.com/ericbiewener/vscode-vandelay/tree/prettier-misbehaving). Pull that dow

[2019-07-29 14:49] nashaofu commented on #222
@phts  If I remove line `eslintOptions.cwd = path.dirname(filePath);`, it doesn't seem to use eslint, it just uses prettier.

[2019-07-30 14:08] coolmic commented on #224
Same issue. I am using prettier-eslint-cli.
I have no issue when formatting only one file, but if I format multiple files, half of them are badly formatted.

[code]

become

[code]

OR

[code]

become

[code]

Didn't have this issue with prettier-eslint v8.

[2019-07-30 14:14] coolmic commented on #224
Yeah, removing parserOptions.project from .eslintrc fix the issue.
But don't know if it's a good thing to do.

[2019-08-01 21:11] jhnns commented on #224
I can confirm this issue (but only for tsx files for now).

I debugged it but couldn't find the definite cause. But I still had some insights:

- The first file is always fixed without errors
- All additional files get corrupted
- The source code is always ok when passed to [`executeOnText`](https://github.com/prettier/prettier-eslint/blob/c87b69b769c59bcea0d96c87dddb6a4925085d8a/src/index.js#L176

[2019-08-06 09:20] mciesin commented on #222
@nashaofu could you please make a pull request with your change :)?

@zimme please look into it, we really need this fix.

The reason for the problem (also reported in https://github.com/microsoft/vscode-eslint/issues/696 and https://github.com/prettier/prettier-atom/issues/505) is setting the cwd option as the path for resolving plugins in [this line](https://github.com/eslint/eslint/blob/5b5934b

[2019-08-19 22:23] kylemh commented on #222
Would appreciate some eyes on https://github.com/prettier/prettier-eslint/pull/236

[2019-08-20 18:33] Don-Osipov opened #237 "Prettier not auto-fixing its own warnings (from prettier/prettier)"
Im using the vue cli, so I created it with the eslint + prettier option. Ive only added a few settings into my .prettierrc , and havent configured anything else. The problem is that prettier IS auto-formatting, but just sometimes skips over things like bracket spacing (which I have set up in the .prettierrc), and when I compile, it gives me warnings about this. Even if I manually format, it still

[2019-08-20 19:17] Delvach commented on #226
I'm running into this same issue. I've been advocating the use of prettier, but my current team uses 'stroustrup' bracket style and I have to manually fix the indentation issue to pass code reviews. It would be great to have an option to control this behavior.

[2019-08-28 13:45] gkatsanos opened #239 "Understanding wrapping of method arguments (object)"
**Versions**:

├─ prettier-eslint@9.0.0
│  └─ prettier@1.18.2
└─ prettier@1.16.3

node: v12.6.0
yarn: 1.17.3

**Relevant code or config**

[code]

[code]

**What I did:**
[code]

**What happened:**
[code]

**Problem description:**
Is there a way to tell prettier to not wrap those resolve arguments? I even pushed the printWidth to 1000+ but it's not that.

[2019-09-11 19:52] ericbiewener opened #244 "Option `--throws` doesn't appear to exist"
**Versions**:

- `prettier-eslint` version: 9.0.0

The documentation mentions a `--throws` option but this simply doesn't appear to exist.

[2019-09-11 20:52] zimme commented on #244
The documentation is a bit unclear, it's not actually documenting an option, but a behaviour of prettier-eslint. If you look closer at the previous options that are documented they are appended by the type of input the flags would accept and the headlines are a size smaller.

I'll keep this issue open to track updating the docs to make this more clear.

[2019-09-17 06:40] #189 closed

[2019-09-22 03:17] robmoggach commented on #176
Prettier rocks... I want two spaces between my functions and classes... please!!!

[2019-09-22 06:49] zimme commented on #176
We can't do anything about this until prettier changes its formatting or add an option to allow multiple empty lines.

I'm closing this and you can open a new issue for this feature once prettier allow for this type of formatting.

Eslint isn't powerful enough to revert  all formatting that prettier imposes.

[2019-09-23 09:09] ShinobiWPS commented on #222
Any news on this?

[2019-09-24 06:38] kylemh commented on #222
I think my PR is now ready. Just waiting to hear from a past contributor as part of a review.

[2019-09-24 07:28] kylemh commented on #222
https://github.com/prettier/prettier-eslint/pull/236#issuecomment-534417412

[2019-10-17 00:36] hamzahamidi commented on #222
Is there an active PR on this issue?

[2019-10-17 04:01] kylemh commented on #222
Look up

[2019-10-17 15:22] lambert-velir commented on #187
hi @zimme-

In the prettier extension, the `prettier.eslintIntegration` option is now deprecated and says:

Why is this deprecated and is there now a new way to use `prettier-eslint` in vscode?

[2019-10-23 08:48] cutanzi1997 opened #256 "Cannot find module '../util/ast-utils'"
**Versions**:

- `prettier-eslint` version:^9.0.0
- `node` version:v10.16.0
- `npm` version:6.12.0
- `eslint` version:6.5.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

No

**Relevant code or config**

[code]

**What I did:**

**What happened:**

**Reproduction repository:**

**Problem description:**

Cannot find

[2019-10-24 05:59] #256 closed

[2019-10-24 05:59] cutanzi1997 commented on #256
"prettier.parser": "flow",

[2019-11-10 21:30] academicjargon commented on #226
Same issue. True for Allman as well. Using atom-beautify because of it (which has its own, less intolerable issues... )

[2019-11-15 13:38] selfagency opened #262 "Cannot find module './utils/ast-utils'"
**Versions**:

- `prettier-eslint` version: 9.0.0
- `node` version: 10.17.0
- `npm` (or `yarn`) version: yarn 1.19.1

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

https://gist.github.com/selfagency/d09dddd361376e47d515a0f1483b03de

**What I did:**

I use `prettier-eslint` via Vetur

[2019-11-15 16:29] skube commented on #262
I have a similar issue — but with react-hooks — which also just recently started acting up and not formatting anything anymore:

[code]

`node`: v10.15.3
`yarn`: 1.19.1
`prettier-eslint`: 9.0.0

[2019-11-17 23:05] zimme commented on #262
Please test with `9.0.1` and see if this is still a problem.

[2019-11-17 23:10] selfagency commented on #262
Thanks, is it published on `npm`? Because I'm still get 9.0.0.

[2019-11-17 23:12] zimme commented on #262
@selfagency Yeah, should be published to npm, https://www.npmjs.com/package/prettier-eslint

[2019-11-18 01:50] selfagency commented on #262
Sadly no improvement

[code]

[2019-11-20 13:46] skube commented on #262
This fixed my issue:
https://www.stephencharlesweiss.com/2019-10-14/eslint-prettier-vscode/

[2019-12-06 15:43] zdm commented on #226
Same issue, indentation is broken.

[2019-12-09 15:29] inspiraller opened #269 "Create react app on node 8 - installs eslint version v6.7.2 which fails - need 6.4.0"
Using Node 8
# create app using create-react-app
[code]
# install dependencies
[code]
# create - eslintrc.json
[code]
# create .pretterrc.json
[code]
# add script to package.json
[code]
# run script format
[code]
# Error
[code]

on further inspection noticed on my version of node 10 I seem to have an older version of eslint installed which works - eslint@6.4.0

On node 8 version it has installed a

[2019-12-16 17:27] jdmwood2 opened #271 "Some rules don't correctly fail as expected"
**Versions**:

- `prettier-eslint` version: 9.0.1
- `node` version: 10.17.0
- `npm` (or `yarn`) version: 6.11.3

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

`package.json`:

[code]

`.eslintrc`:

[code]

`src/foo.js`:

[code]

See [bug.zip](https://github.com/prettier/prettier-esl

[2019-12-16 17:35] jdmwood2 commented on #271
Oops sorry! I created this bug on the wrong repo...

[2019-12-16 17:35] #271 closed

[2019-12-17 16:53] PierrickGT commented on #269
I've got the same problem with eslint version 6.7.2 and prettier-eslint-cli version 5.0.
You can see the error here: https://github.com/MeilleursAgents/react-mapbox-wrapper/pull/90/checks?check_run_id=335010861

[2020-01-05 18:11] agusterodin commented on #222
When open source fails

[2020-01-06 21:45] zimme opened #275 "Call for maintainers"
I'm thankful for all the understanding people on here and I am sorry that I haven't been able to prioritize prettier-eslint. I've been able to work on prettier-eslint for an hour here and there but it hasn't been enough time to get a good working version out with all the most critical bug fixes to upgrade of eslint.

I don't expect being able to prioritize prettier-eslint any higher in the near fu

[2020-01-06 23:37] BPScott commented on #275
*waves from @prettier/eslint*

Heya @zimme, I've stayed away from maintaining this repo as I don't use it personally (unlike eslint-plugin-prettier). I can probably help out with small tidyings here and there and some issue triage, but I'm generally unfamiliar with prettier-eslint so wouldn't feel comfortable taking over as a leading maintainer.

That said if you want to give me npm access to publ

[2020-01-07 12:02] hamzahamidi commented on #275
I'm in for maintaining the github repo. As for the npm repository, I think it's better to add a small CI/CD script to automatize the publishing.

[2020-01-07 12:05] zimme commented on #275
Currently, there is CI/CD setup for this project on Travis using semantic release. It will publish a new npm version on any commit that follows the semantic release format. https://github.com/semantic-release/semantic-release#how-does-it-work.

[2020-01-07 12:17] hamzahamidi commented on #275
I see that the script is triggered whenever a new commit is added to master branch. Why not add reviewers policies to validate a PR (for example a minimum of 2 reviewers from the maintainers is needed to approve a PR)

[2020-01-11 19:33] kylemh commented on #275
I'm willing and able.

[2020-01-23 18:01] LuisValgoi commented on #156
@zimme I'm facing the same issue `"prettier-eslint": "^ and `"prettier-eslint-cli": "^5.0.0"`

[2020-02-12 21:38] djbeadle commented on #275
@zimme Have you considered adding this project to [JazzBand](https://jazzband.co/)?

[2020-02-12 21:58] kylemh commented on #275
It looks like JazzBand is for Python projects.

[2020-02-12 22:07] djbeadle commented on #275
😬 Whoops! Missed that part. Maybe there's demand for a similar organization for JS projects?

[2020-02-13 06:26] Rulexec commented on #222
Fixed issue by adding `cwd: __dirname` to my `.eslintrc.js`, it works (since prettier-eslint pass `eslintOptions` to `new CLIEngine`, which accepts `cwd`) and then all works correctly.

But feels like a hack, prettier-eslint should add `cwd` by itself. Easiest way to do it like this:

[code]

But not sure, that it is not a hack too.

[2020-02-16 13:59] MrFoxPro commented on #226
any updates here?

[2020-03-03 16:14] DeviousM commented on #262
Problem still prevails with newest version of VS Code. Tried reinstalling everything and while trying to format JS file this happens:

`["INFO" - 5:12:03 PM] Formatting /Users/michal/Projects/project/myfile.js
["INFO" - 5:12:03 PM] Using ignore file (if present) at /Users/michal/Projects/project/.prettierignore
["INFO" - 5:12:03 PM] Loaded module 'prettier@1.19.1' from '/Users/michal/Projects/proj

[2020-03-07 05:52] alexseitsinger commented on #226
It's worth mentioning that I was able to resolve this issue by enabling [@typescript-eslint/indent](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/indent.md) for TypeScript and [indent](https://eslint.org/docs/rules/indent) for plain JavaScript.

[2020-03-17 11:10] Valar103769 opened #305 "set "vetur.format.defaultFormatter.js": "prettier-eslint", is invalid"
**Versions**:

- `prettier-eslint` version: 9.0.1
- `node` version:10.16
- `npm` (or `yarn`) version: 1.13

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes

**Relevant code or config**

[code]

**What I did:**

**What happened:**

**Reproduction repository:**

**Problem description:**

**Suggested solution:**

[2020-03-18 04:04] Valar103769 opened #306 "can resolve vue template problem?"
i wish use eslint, instead of prettier in template

[2020-03-24 03:25] ryb73 commented on #205
I ran into something like this and the problem was a conflict with the `@typescript-eslint/indent` rule. Turning it off fixed it:
[code]

[2020-04-25 08:09] chenxiaoyao6228 commented on #156
It seems this issue is not fixed.

[2020-04-27 07:57] zimme commented on #275
Hey @prettier/eslint could you add @kylemh, @anikethsaha and @hamzahamidi as they have showed an interest in helping out maintaining this project. I don't have any github admin access to add them to the team.

[2020-04-27 18:32] BPScott commented on #275
Alas I've not got rights to wrangle that, I think @lipis may though ^^

[2020-04-29 11:14] swernerx commented on #222
Alternatively you might want to check out: https://www.npmjs.com/package/@effective/prettier comes together with a brand new extension for VSCode: https://marketplace.visualstudio.com/items?itemName=sebastian-software.effective-prettier-vscode

[2020-05-02 17:15] sladyn98 commented on #275
@zimme  I'm in for maintaining the github repo.Do let me know if you need any help :)

[2020-05-02 18:11] lipis commented on #275
@zimme I made you an admin!

[2020-05-05 21:48] idahogurl opened #325 "Prettier 2.0"
This is a question not an issue. Are there plans to upgrade Prettier to 2.0?

[2020-05-06 09:09] hexagon6 commented on #275
I would like to contribute as well, as I use this dependency in quite a few projects and have been waiting on updates for quite a while now. :waffle:

[2020-05-11 18:54] #325 closed

[2020-05-13 08:35] zimme commented on #275
@hamzahamidi @kylemh I've made you maintainers of this repo and will do the same for `pretties-eslint-cli` if @lipis could make me and admin on that repo too.

@hexagon6 @anikethsaha @sladyn98 I'll consider adding you as maintainers after you've created or helped out with a PR or two just as @hamzahamidi and @kylemh has already done.

[2020-05-13 08:40] zimme commented on #275
What I would focus on for now is to get this package ready to support prettier 2 and eslint 7.

Just remember to use the semantic release commit messages as outlined here https://github.com/prettier/prettier-eslint/issues/275#issuecomment-571560038 and new releases will be published as commits are pushed/merged to master.

What I've done sometime when I know I have multiple PRs to merge and change

[2020-05-13 17:09] kylemh commented on #275
I understand that prettier-eslint-cli should be kept updated, but I wonder if this repo should be converted into simply providing an ESLint preset with the prettier plugin pre-configured.

When I used this package it was because there was no interop. I haven’t needed this package for a long time because I can just use the prettier plugin to do formatting and linting at the same time.

[2020-05-13 17:33] zimme commented on #275
@kylemh `prettier-eslint-cli` is just a package that uses this package. There is no formatting code within that package, just code to find and format files using this package. So it wouldn't really make sense to keep that one up to date and make this package basically a wrapper around `eslint-plugin-prettier`.

This package is a bit different than `eslint-plugin-prettier` in that this package firs

[2020-05-13 17:53] anikethsaha commented on #275
What about bringing `prettier-eslint-cli` to this repo as monorepo ?

[2020-05-13 17:55] zimme commented on #275
@anikethsaha Would that bring any real value to the project? If it would then I'm ok with it.

[2020-05-13 18:04] anikethsaha commented on #275
one can be it will help as we can use the latest `prettier-eslint` API which is not published in `prettier-eslint-cli`.

[2020-05-13 18:09] zimme commented on #275
Fair point, however that can be achieved via npm link too if I remember correctly.

But as I said, if value is brought into the project and it's something that the majority of the maintainers of this project wants, I'm good with it.

[2020-05-13 18:11] anikethsaha commented on #275
cool 👍

[2020-05-13 19:08] kylemh commented on #275
I apologize ahead of time, as I don't use this project anymore, so I probably won't get to doing much until I'm much less busy at work 🙏

but I have like no life, so I'm sure I'll get around to stuff actively.

[2020-05-14 05:21] dwjohnston commented on #101
I want to point out that if the eslint [`function-call-argument-newline`](https://eslint.org/docs/rules/function-call-argument-newline) operated in a similar manner that [`function-paren-newline`](https://eslint.org/docs/rules/function-paren-newline) and [`array-element-newline`](https://eslint.org/docs/rules/array-element-newline) did, (that is, having a `minItems` option, then @kentcdodds reply

[2020-05-14 13:30] kentcdodds commented on #101
That was just one example. Prettier is definitely not only valuable of that one thing over ESLint.

[2020-05-21 20:27] #222 closed

[2020-05-21 20:31] zimme commented on #222
:tada: This issue has been resolved in version 10.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/prettier/prettier-eslint/releases/tag/v10.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-25 01:27] #210 closed

[2020-05-27 13:39] grit96 opened #348 "Cannot find module 'core-js/modules/es.array.iterator'"
**Versions**:

- `prettier-eslint` version: 10.1.1
- `node` version: 12.4.0
- `npm` version: 6.9.0

**What I did:**

Ran `prettier-eslint` in vscode using `prettier-vscode`.

**What happened:**

[code]

**Problem description:**

Looks like it was caused by this commit when `core-js` was removed from dependencies: 29e9d1e2bb3aa24872cb3b631ba44274da45efe8.

**Suggested solution:**

Should be resolve

[2020-05-27 14:52] Floriferous commented on #180
Not stale

[2020-05-28 05:44] AdrienLemaire opened #349 "prettier-eslint doesn't respect prettier default"
from [inferring prettierOptions via eslintConfig](https://github.com/prettier/prettier-eslint/#inferring-prettieroptions-via-eslintconfig):

[code]

Prettier [Trailing Commas](https://prettier.io/docs/en/options.html#trailing-commas):

As a result, When I save my file, prettier-eslint removes a trailing commas, and when I git commit my code, the pre-commit prettier hook fails and re-add the traili

[2020-05-31 17:06] Vadorequest opened #350 "How to use this lib?"
I don't understand how this lib is meant to be used after reading the README and the "Usage" section.

How can it be integrated to a project? Does it need a custom .js script? I'm confused.

I already use eslint, and I wanted to add prettier, but I find it too opinionated and lacks customisation capabilities. So I'm looking for a way to customise prettier, and `prettier-eslint` looks like what I'm

[2020-05-31 17:14] zimme commented on #350
Have a look at prettier-eslint-cli for normal usage within a project. This package is just the core that prettier-eslint-cli and editor integrations use

[2020-05-31 18:10] gSarciotto commented on #205
This fixed for me

[2020-05-31 22:53] Blackxes commented on #350
Is there a way to make it format "onsave" ?

[2020-05-31 22:56] Vadorequest commented on #350
The script is too slow for an on-save event IMHO, it's around 1mn on my computer.

It's even too slow for a pre-hook commit/push... (fault to prettier, which is damn slow when running through eslint)

[2020-05-31 22:58] Blackxes commented on #350
Ah man this is so unlucky.. Prettier is so nice, but does not support lots of options and eslint does. Now there is a sollution for both but to slow .. feelsbadman

Thanks for the answer!

[2020-05-31 23:08] Vadorequest commented on #350
Yeah, I'm in the same situation, looking for a way to integrate prettier within https://github.com/UnlyEd/next-right-now but it's quite a challenge...

Prettier in itself is very bad, it basically make the code look worse and less maintainable.
Using eslint to override its behaviour seems like the way to go, but it is very hard to setup (seriously, I've got like 5 plugins and 4 extends to look at,

[2020-05-31 23:14] Blackxes commented on #350
Fun thing is i only want to change one option. The brace-style because i have problems viewing code with the collapsed version. And there is even a 3+ years disguting on prettiers github issue. Oh well i would really like to help but i sadly dont have time to get into that and rely on those who are already in that.

[2020-06-01 12:06] osdiab commented on #54
Right now prettier is taking a lot of time on my builds - related issue in `prettier-eslint-cli` as well. Don't close please!

https://github.com/prettier/prettier-eslint-cli/issues/89

[2020-06-02 00:20] #305 closed

[2020-06-02 00:20] #306 closed

[2020-06-02 00:21] #262 closed

[2020-06-02 00:21] #269 closed

[2020-06-02 00:21] #244 closed

[2020-06-02 00:21] #239 closed

[2020-06-02 00:21] #237 closed

[2020-06-02 00:21] #226 closed

[2020-06-02 00:21] #224 closed

[2020-06-02 00:21] #220 closed

[2020-06-02 00:21] #208 closed

[2020-06-02 00:32] reduardo7 commented on #256
Why it is closed? Still not working!

[2020-06-02 00:32] reduardo7 commented on #262
Why it is closed? Still not working!

[2020-06-02 00:32] reduardo7 commented on #262
/reopen

[2020-06-02 00:36] reduardo7 opened #351 "Cannot find module '../util/ast-utils'"
Reopen #256:

The code format is not working when I try to run it. Output:

[code]

Ref https://github.com/prettier/prettier-vscode/issues/859 #262 https://github.com/prettier/prettier-vscode/issues/672

[2020-06-03 00:21] #206 closed

[2020-06-03 00:21] #204 closed

[2020-06-03 00:21] #200 closed

[2020-06-03 00:21] #203 closed

[2020-06-03 00:21] #198 closed

[2020-06-03 00:21] #196 closed

[2020-06-03 00:21] #193 closed

[2020-06-03 00:21] #195 closed

[2020-06-03 00:21] #186 closed

[2020-06-03 00:21] #190 closed

[2020-06-03 00:21] #184 closed

[2020-06-03 00:21] #185 closed

[2020-06-03 00:21] #183 closed

[2020-06-04 00:21] #182 closed

[2020-06-04 00:21] #180 closed

[2020-06-04 00:21] #181 closed

[2020-06-04 00:21] #178 closed

[2020-06-04 00:21] #166 closed

[2020-06-04 00:21] #172 closed

[2020-06-04 00:21] #94 closed

[2020-06-04 00:21] #164 closed

[2020-06-04 00:21] #90 closed

[2020-06-04 00:21] #93 closed

[2020-06-04 00:21] #44 closed

[2020-06-05 11:46] suconghou opened #352 "how to report eslint warning and errors and exit"
I found this lib only format code but do nothing with eslintConfig

`eslint app.js --fix`  will report error and exit

but this lib never report warning or errors such as

`no-unused-vars`  `no-console`  `no-undef`

what should I do lint the code with eslint  and then format with prettier

[code]

[code]

[code]

[2020-06-08 00:21] #205 closed

[2020-06-08 12:28] Vadorequest commented on #350
@Blackxes @zimme FYI I've open https://github.com/prettier/prettier/issues/8507 and you may want to give your feedback on it, about how Prettier could make code quality its main goal.

[2020-06-08 12:28] #350 closed

[2020-06-09 00:21] #54 closed

[2020-06-13 13:26] esetnik commented on #348
I opened #359 which should fix this issue.

[2020-07-20 00:31] #275 closed

[2020-07-31 17:38] lipis commented on #275
Did we find any maintainer?

[2020-07-31 17:46] zimme commented on #275
@lipis yeah, I've added @kylemh and @hamzahamidi as maintainers of this repo but I need admin access to the prettier-eslint-cli too so I can add them there too

[2020-07-31 17:56] kylemh commented on #349
Definitely worth a fix, since the default value changed in v2.

Obviously, not a huge priority cuz you can just create a `.prettierrc` to get what you want!

[2020-07-31 18:51] lipis commented on #275
@zimme Done!

[2020-08-03 09:23] iamrajiv opened #376 "Remove dependencyci badge"
The` dependencyci` badge is no longer works in README.

[2020-08-05 02:47] #352 closed

[2020-08-09 00:36] #351 closed

[2020-08-20 00:36] #348 closed

[2020-09-10 20:07] chrisbobbe opened #401 "Support ESLint 7"
Hi! 👋

Do I assume correctly that ESLint 7 isn't supported yet? I'm looking at the fact that [`eslint`'s version range in `dependencies`](https://github.com/prettier/prettier-eslint/blob/master/package.json#L24) doesn't include 7. (If `eslint` were a peer dependency, I'd get a stronger signal; there would be a peer-dep warning at install time if I didn't depend directly on a valid version of `esli

[2020-09-11 08:00] cy6erskunk commented on #401
Node.js 8 reached EOL in December 2019, and Eslint officially dropped support for it in Eslint 7 which makes [update PR](https://github.com/prettier/prettier-eslint/pull/397) fail

[2020-09-13 14:06] opl- opened #402 "Support TypeScript v4.x"
**Versions**:

- `prettier-eslint` version: `11.0.0`

**Problem description:**

TypeScript has recently released a new update which bumped the major. Unfortunately, TypeScript doesn't adhere to semver (see microsoft/TypeScript#14116). This unfortunately means that if a user's project depends on TypeScript v4.0, npm/yarn will install a separate TypeScript v3.9 just for this package in order to fulf

[2020-09-15 18:36] chrisbobbe commented on #401
Mmm, OK. `prettier-eslint` specifies the preferred Node version in `"engines"` in `package.json`; I think it should be doable to just bump that from `">=8.0.0"` to, e.g., `">=10.0.0"`?

[2020-09-15 18:38] chrisbobbe commented on #401
There's another thing blocking this, though; `eslint-config-kentcdodds` doesn't support ESLint 7 yet. That is expressed by the following peer dependency warning, even at its current latest, v14.16.0:

[code]

`eslint-plugin-testing-library` has ESLint 7 support in progress, at https://github.com/testing-library/eslint-plugin-testing-library/pull/139.

[2020-09-20 02:44] kylemh commented on #401
@hamzahamidi do we want to make a decision regarding moving to ESLint 7 and disallowing `<=node@^8`?

[2020-09-20 02:47] kylemh commented on #402
I feel like we could switch this dependency to instead be a peerDependency `>=typescript@^3.9.0`. What do you think @hamzahamidi ?

[2020-09-20 02:50] #376 closed

[2020-09-20 08:41] hamzahamidi commented on #401
I'm ok with that too. The next versions will only support <=node@^8

[2020-09-20 08:47] kylemh commented on #401
Well, the only tests failing on the PRs you listed are the ones using Node 8! So, it very well could be easy and just work.

I think we're open to a PR that:
- adjusts the `engines` field in `package.json` accordingly (only look for a floor please, not a ceiling)
- remove tests for Node 8 and add them for Node 14
- update ESLint to latest version

[2020-09-20 08:48] hamzahamidi commented on #402
It's a good idea to give flexibility to the user, but I don't know the effect on the package @typescript-eslint/parser

[2020-09-20 08:59] kylemh commented on #402
They follow `typescripts` release cycle to avoid confusion, so we'd just need to update that dependency as well.

One very interesting question is... where do we stand in regards to SemVer on this?

Should we bump a major if we upgrade `typescript` and `@typescript-eslint/parser` 🤔 even weirder, should we be paying attention to every release to follow SemVer?

We could also probably change the way

[2020-09-20 09:12] hamzahamidi commented on #402
If we make it a peer dependency. What should we use for the tests ? Should we only use the latest version?
If however we only upgrade typescript & @typescript-eslint/parser to version 4 we should treat it as major version.

[2020-09-20 16:36] kylemh commented on #402
@hamzahamidi keep in mind neither of those repositories follow SemVer. There aren't breaking changes in v4.

And yeah, I think latest for our own repo is fine.

[2020-09-21 21:11] Bow2Jesus opened #410 "BUG: prettier-eslint introduce bugs in code by removing necessary parenthesis"
**Versions**:

- `prettier-eslint` version: 7.9.0
- `node` version:  13.14.0
- `npm` (or `yarn`) version: 6.14.8

**Have you followed [the debugging tips](https://github.com/prettier/prettier-eslint/blob/master/README.md#debugging-issues)?**

Yes || No

No.  This is a bug in the remove-unnecessary-parens rule itself.  It is removing necessary parens.

**Relevant code or config**

[code]

[2020-09-22 18:27] Bow2Jesus commented on #410
My co-workers thought that the example about changed the output of the code, but upon further review, I do not think that it does.  However, it is a lot harder to understand without the parens, so they misinterpreted the outcome of the code after the parens were removed..  It is also a lot uglier without the parens.

So, I think that simply giving us the option to turn off the remove_unnecessary_p

[2020-09-23 00:23] chrisbobbe commented on #410
It sounds like you might want to use an ESLint configuration file: https://eslint.org/docs/user-guide/configuring#using-configuration-files. You can tell the `prettier-eslint` command where to find that file with the `--eslint-config-path` flag (or you can browse more flags with `prettier-eslint --help`).

[2020-09-23 02:56] kylemh commented on #402
Note https://github.com/prettier/prettier-eslint/issues/133 and the decision zimme reached, but I respectfully disagree, since we have 3 years of other issues to point to as evidence.

[2020-09-23 06:04] zimme commented on #402
If problems are actually solved by moving prettier amd eslint into peer dependencies I don't have a problem with that.

As we do use prettier and eslint in the closest node_modules from the directory where prettier-eslint is run. Maybe it actually makes sense to have the dependencies as peer dependencies to make sure you have a copy of prettier and eslint there. However Im not sure this will actua

[2020-09-23 06:16] kylemh commented on #402
My guess would be that a large amount of people that use this dependency aren't aware of the ability to use `eslint` with the prettier plugin to format their code base. There may be some other use-case that I am not aware of, but for those users - if we instruct them to install this via `yarn add -D prettier-eslint eslint prettier` - there should be no issue.

The bigger hope is that this shrugs o

[2020-09-23 06:19] zimme commented on #402
The reason I think, could be wrong here, the decision was made to make sure the two play nice is that prettier-eslint isnt just providing format first, auto fix second, but it also provides functionality to infer prettier options from eslint configs.

[2020-09-23 06:53] kylemh commented on #402
Awesome. I'll write that in the README to explain the differences.

[2020-11-11 12:24] lougreenwood commented on #349
I just hit this problem too, but only after upgrading to `Prettier` V2. Because es5 trailing commas is now default in prettier, I removed it from my `.prettierrc` and later noticed that trailing commas were being removed.

It was quite annoying to notice that trailing commas were sneaking back into the codebase and took a while to figure out that the problem is that this plugin is the cause.

Gene

[2020-11-11 12:27] kylemh commented on #349
To explain: it did and we fully intend on doing so again.

Prettier changed the defaults and we just never updated it here.

Should be a very simple PR!

[2020-11-21 17:38] zimme commented on #376
:tada: This issue has been resolved in version 12.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/prettier/prettier-eslint/releases/tag/v12.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-21 19:15] chrisbobbe commented on #401
#407 has been merged, fixing this, so I'll go ahead and close. Thanks, @cy6erskunk, @hamzahamidi, and @zimme! 🎉

[2020-11-21 19:15] #401 closed

[2020-11-23 06:12] sziraqui commented on #184
This is still an issue. OP has stated everything correctly. Was this fixed?

[2020-12-01 17:10] exah commented on #348
Please re-open, PR not merged yet :)

[2020-12-02 13:23] xieww-aries commented on #262
I got the same issue, but i think mostly because the newest version of eslint.
[code]

[2020-12-02 13:32] mehradrishty commented on #262
I am getting the same error.

[2020-12-07 07:30] shinter61 commented on #262
I fixed by `yarn add --dev eslint`